.textCenter{
    text-align: center!important;
}


.marginBottom_small{margin-bottom: 1.4rem!important;}
.marginBottom_medium{margin-bottom: 4.6rem!important;
    @include respond(tab-port){
        margin-bottom: 3.6rem!important;
    }
}
.marginBottom_large{margin-bottom: 8rem!important;
    @include respond(tab-port){
        margin-bottom: 6rem!important;
    }
}

.marginTop_small{margin-top: 1.4rem!important;}
.marginTop_medium{margin-top: 3.5rem!important;}
.marginTop_large{margin-top: 8rem!important;}
.marginTop_huge{margin-top: 10rem!important;}


#loading {
    background:#fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999999;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}


.bg_blue{
    background-color: #0D2B4A!important;
}

.custom_ul li {
    color: #58595B;
    position: relative;
    font-size: 15px;
    margin-bottom: 7px;
    line-height: 1.6;
    font-weight: 300;
    margin-left: 1rem;

    &:before {
        position: absolute;
        content: "";
        left: -14px;
        top: 1rem;
        width: 6px;
        height: 6px;
        background: #143B64;
        border-radius: 50%;
    }
}

.custom_link {
    font-size: 14px;
    color: #143B64;
    text-transform: capitalize;
    text-decoration: underline!important;
}


.custom_content {
    font-size: 15px;
    color: #58595B;
    line-height: 1.7;
    font-weight: 300;
    & > p , ul, h2 , h3 , h4 , h5 ,h6,ol {
        margin-bottom: 1.5rem;
    }

    ul,ol {
        li {
            color: #58595B;
            position: relative;
            font-size: 15px;
            margin-bottom: 7px;
            line-height: 1.6;
            font-weight: 300;
            margin-left: 1rem;

            &:before {
                position: absolute;
                content: "";
                left: -14px;
                top: 1rem;
                width: 6px;
                height: 6px;
                background: #143B64;
                border-radius: 50%;
            }
        }
    }

    ol {
        padding-left: 0;
        li {
            list-style: decimal;
            &:before {
                display: none;
            }
        }
        

    }


    p {
        font-size: 15px;
        color: #58595B;
        line-height: 1.7;
        font-weight: 300;
    }

    a {
        font-size: 14px;
        color: #143B64;
        text-transform: capitalize;
        text-decoration: underline;
    }
}

.d-none{
    display: none;
}
.v-hidden {
    visibility: hidden;
}

[dir="rtl"] {
    .swiper-button-prev_w,
    .swiper-button-next_w,
    .swiper-button-prev_b,
    .swiper-button-next_b,
    .inquiry_links_b img,
    .inquiry_links_hr img,
    .me_Kh .me_Kh_text h2:before,
    .me_Kh .me_Kh_text h2:after,
    .DIFFERENTIATORS.loc .DIFFERENTIATORS_loc_link a img,
    .careers_loc_content_head-toggle img,
    .apply_now_btn a img,
    .list_pagination_cont .arrows a img {
        transform: rotate(180deg) translateX(0);
    }
    .locations img {
        margin-left: 0;
    }
    .industries_content .swiper-container .swiper-wrapper .swiper-slide .inds_slide,
    .indstries_listing .inds_slide:before {
       background-image: url("../img/home/sub_ar.png"); 
    }
    .me_Kh {
        justify-content: flex-start;
    }
    .me_Kh .me_Kh_text {
        transform: translate(-13rem, 19px); 
    }
    .DIFFERENTIATORS.loc .DIFFERENTIATORS_loc_link {
        clip-Path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
    }
    .w_w_w_us_text {
        margin-right: 0rem;
    }
    .careers_loc_content_head-toggle img.open {
        transform: rotate(90deg) translateX(0);
    }
    .custom_input_group .custom_input .custom_selectbox:before {
        transform: rotate(-90deg);
    }
    .custom_input_group .custom_input .custom_selectbox:before {
        transform: rotate(-90deg);
    }

    .main_slider .header__cont-text h1,
    .header.about .header_main_text h1,
    .header.about .header_main_text h3 {
        font-family: 'Almarai', sans-serif;
    }

    .ffs_text .main_left_heading h2 {
        padding-bottom: 20px;
    }

    .styled-checkbox .wpcf7-list-item input[type="checkbox"]:checked+.wpcf7-list-item-label:after {
        transform: rotate(132deg) rotateX(-180deg);
        left: 6px;
        top: 8px;
    }
    .footer_info .newsletter form .nameEmailSubmit .desktop input[type="submit"] {
        border-radius: 0 22px 22px 0;
    }

    .main_slider .swiper-container {
        padding-bottom: 4rem;
    }

    p{
        line-height: 2!important;
    }

    .Languages_header .main_left_heading {
        min-width: 28rem;
    }
    .Languages_img img {
        margin-left: 14rem;
    }
    .v_m-mission {
        padding-bottom: 7rem;
    }
    .me_Kh .me_Kh_text h2 {
        line-height: 1.4;
    }

    .header.about .header_main_text h1 {
        font-size: 40px;
    }

    .header_main_text h3 {
        margin-bottom: -5px; 
        font-size: 45px;
    }
    .header_main_text h1 {
        font-size: 50px;
    }

    .managementImgSwiper .facts_heading  {
        font-size : 50px;
        
    }
}


