.textCenter{
    text-align: center!important;
}


.marginBottom_small{margin-bottom: 1.4rem!important;}
.marginBottom_medium{margin-bottom: 4.6rem!important;
    @include respond(tab-port){
        margin-bottom: 3.6rem!important;
    }
}
.marginBottom_large{margin-bottom: 8rem!important;
    @include respond(tab-port){
        margin-bottom: 6rem!important;
    }
}

.marginTop_small{margin-top: 1.4rem!important;}
.marginTop_medium{margin-top: 3.5rem!important;}
.marginTop_large{margin-top: 8rem!important;}
.marginTop_huge{margin-top: 10rem!important;}


#loading {
    background:#fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999999;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}


.bg_blue{
    background-color: #0D2B4A!important;
}

.custom_ul li {
    color: #58595B;
    position: relative;
    font-size: 15px;
    margin-bottom: 7px;
    line-height: 1.6;
    font-weight: 300;
    margin-left: 1rem;

    &:before {
        position: absolute;
        content: "";
        left: -14px;
        top: 1rem;
        width: 6px;
        height: 6px;
        background: #143B64;
        border-radius: 50%;
    }
}

.custom_link {
    font-size: 14px;
    color: #143B64;
    text-transform: capitalize;
    text-decoration: underline!important;
}


.custom_content {
    & > p , ul, h2 , h3 , h4 , h5 ,h6,ol {
        margin-bottom: 1.5rem;
    }

    ul,ol {
        li {
            color: #58595B;
            position: relative;
            font-size: 15px;
            margin-bottom: 7px;
            line-height: 1.6;
            font-weight: 300;
            margin-left: 1rem;

            &:before {
                position: absolute;
                content: "";
                left: -14px;
                top: 1rem;
                width: 6px;
                height: 6px;
                background: #143B64;
                border-radius: 50%;
            }
        }
    }

    ol {
        padding-left: 0;
        li {
            list-style: decimal;
            &:before {
                display: none;
            }
        }
        

    }


    p {
        font-size: 15px;
        color: #58595B;
        line-height: 1.7;
        font-weight: 300;
    }

    a {
        font-size: 14px;
        color: #143B64;
        text-transform: capitalize;
        text-decoration: underline;
    }
}