
// START HERE
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'components/buttons';

@import 'base/animation';
@import 'base/base';
@import 'base/headings';
@import 'base/typography';
@import 'base/utilities';

@import "layout/header";
@import "layout/footer";
@import "layout/grid";
@import "layout/navigation";
@import "layout/Menu";

@import "libs/dateragepicker";
@import "pages/home";
@import "pages/about_us";
@import "pages/solutions";
@import "pages/locations";
@import "pages/industries";
@import "pages/news";
@import "pages/careers";
@import "pages/contact";



// start my style!

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}



// error page 

.error_text {
    height: 565px;
    width: 100%;
    background-color: #0B63AC;
    padding: 20rem;
    color: white;

    p {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: -0.8rem;
    }

    h1 {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 50px;
    }

    .main_btn_white {

        margin-top: 2rem;
        margin-left: 0rem;
    }
}

.sys_msg {
    position: fixed;
    top: 8rem;
    right: 9rem;
    z-index: 9999999;
}

.sys_msg_text {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #143B64;
    opacity: .9;
    padding: 1.6rem 2rem;

    h4 {
        font-size: 16px;
        color: #FFFFFF;
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 7rem;
        padding-left: 1rem;
    }

    span {
        font-size: 16px;
        color : white;
    }
}