
// START HERE
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'components/buttons';

@import 'base/animation';
@import 'base/base';
@import 'base/headings';
@import 'base/typography';
@import 'base/utilities';

@import "layout/header";
@import "layout/footer";
@import "layout/grid";
@import "layout/navigation";
@import "layout/Menu";

@import "libs/dateragepicker";
@import "pages/home";
@import "pages/about_us";
@import "pages/solutions";
@import "pages/locations";
@import "pages/industries";
@import "pages/news";
@import "pages/careers";
@import "pages/contact";
@import "pages/investors";



// start my style!

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}



// error page 

.error_text {
    height: 565px;
    width: 100%;
    background-color: #0B63AC;
    padding: 20rem;
    color: white;

    p {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: -0.8rem;
    }

    h1 {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 50px;
    }

    .main_btn_white {

        margin-top: 2rem;
        margin-left: 0rem;
    }
}

.sys_msg {
    position: fixed;
    top: 8rem;
    right: 9rem;
    z-index: 9999999;
}

.sys_msg_text {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #143B64;
    opacity: .9;
    padding: 1.6rem 2rem;

    h4 {
        font-size: 16px;
        color: #FFFFFF;
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 7rem;
        padding-left: 1rem;
    }

    span {
        font-size: 16px;
        color : white;
    }
}



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-bottom:unset!important;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #143B64;
    color: #fff;
    text-align: center;
    padding: 5px 4px;
    border-radius: 6px;
    max-width: 50%;
    min-width: 125px;
    bottom: 77%;
    left: 18%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .intl-tel-input .selected-flag .iti-flag {
    z-index: 99999;
  }

  .simplebar-scrollbar {
    width: 4px; 
  }
  .simplebar-scrollbar:before {
    background: #b9b8b8!important;
  }

  // calender plugin override

  .fc-button-primary {
    &,&:hover,&:active,&:focus {
      color: #0B63AC!important;
      background-color: transparent!important;
      border-color: transparent!important;
      border: none!important;
      box-shadow: unset!important;
    }
   
  }
  .fc-button-group {
    margin-top: 1rem;
  }
  .fc-toolbar.fc-header-toolbar {
    margin-bottom: 2em;
  }
  .irCalendarWrap.investorContainItem  .fc-dayGrid-view .fc-day-top .fc-day-number {
    
    padding: 3px 13px!important;
    
}
  .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    float: left;
    font-size: 2rem;
    color: #A7A9AC;
  }
  .fc-button.fc-button-primary  {
    height: 2rem;
    background-repeat: no-repeat;
    & > span {
      display: none;
    }
    

    &.fc-prev-button {
      background-image: url("../img/icons/left_b.png");
      margin-right: .5rem;
    }

    &.fc-next-button {
      background-image: url("../img/icons/right_b.png");
    }
    
  }

  .fc-left {
    display: flex;
    align-items: center;
  }

  .fc-today-button {
    color: #0B63AC;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0;
  }

  .fc-event, .fc-event:hover {
    background-color: transparent;
    color: #58595B;
    border: unset;

  }
  .ev_cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    & > div {
        width : 50%;
        min-height: 200px;
        padding: 2rem;
        background-color: white;
        position: relative;

        #closeEve {
          position: absolute;
          top: 2rem;
          right: 2rem;
            i {
              font-size: 1.8rem;
              color: #58595B;
              cursor: pointer;
            }
        }

        #startDate {
          color: #58595B;
          font-size: 14px;
          font-weight: 700;
          display: block;
          margin-bottom: .3rem;
        }

        #eventName {
          font-size: 19px;
          color: #0B63AC;
          margin-bottom: 1rem;
        }

        .fromTo {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          span, div{
            color : #58595B;
            font-size: 15px;
          }
          .to {
            margin: 0 .3rem;
          }
 
        }
        img{
          width: 14px;
          margin-right: .3rem;
        } 

        #eventInfo {
          color : #58595B;
            font-size: 15px;
        }

        .evDesc {
          display: flex;
          align-items: center;
        }
    }
  }

  .fc-event-container {
    .fc-content {
      display: flex;
      flex-direction: column;
      margin-bottom: .5rem;

      .fc-time {
        font-size:10px;
        color : #58595B;

      }
      .fc-title {
        padding-top: 1px;
        font-size:11px;
        color : #58595B;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
  }




  // test for calender plugins
 .irHome ~ .popper, .irHome ~ .tooltip {
    position: absolute;
    z-index: 9999;
    border-color: rgba(0,0,0,.95);
    color: #FFFFFF;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
    background-color: rgba(0,0,0,.95);
 
  // .style5 .tooltip {
  //   background: #1E252B;
  //   color: #FFFFFF;
  //   max-width: 200px;
  //   width: auto;
  //   font-size: .8rem;
  //   padding: .5em 1em;
  // }
   .popper__arrow,
   .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    display: none;
  }
  
   .tooltip-arrow,
   .popper__arrow {
    border-color: rgba(0,0,0,.95);
  }
  .style5 .tooltip .tooltip-arrow {
    border-color: rgba(0,0,0,.95);
  }
  &[x-placement^="top"]{
    margin-bottom: 5px;
    .popper__arrow,
   .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  }
   
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow,
    .popper__arrow {
     border-width: 0 5px 5px 5px;
     border-left-color: transparent;
     border-right-color: transparent;
     border-top-color: transparent;
     top: -5px;
     left: calc(50% - 5px);
     margin-top: 0;
     margin-bottom: 0;
   }
  }

  // .tooltip[x-placement^="right"],
  // .popper[x-placement^="right"] {
  //   margin-left: 5px;
  // }
  // .popper[x-placement^="right"] .popper__arrow,
  // .tooltip[x-placement^="right"] .tooltip-arrow {
  //   border-width: 5px 5px 5px 0;
  //   border-left-color: transparent;
  //   border-top-color: transparent;
  //   border-bottom-color: transparent;
  //   left: -5px;
  //   top: calc(50% - 5px);
  //   margin-left: 0;
  //   margin-right: 0;
  // }
  // .popper[x-placement^="left"],
  // .tooltip[x-placement^="left"] {
  //   margin-right: 5px;
  // }
  // .popper[x-placement^="left"] .popper__arrow,
  // .tooltip[x-placement^="left"] .tooltip-arrow {
  //   border-width: 5px 0 5px 5px;
  //   border-top-color: transparent;
  //   border-right-color: transparent;
  //   border-bottom-color: transparent;
  //   right: -5px;
  //   top: calc(50% - 5px);
  //   margin-left: 0;
  //   margin-right: 0;
  // }
}
  
  
 .irCalendarWrap.investorContainItem .fc-content {
    font-size: 0;
    overflow: hidden;
    height: 4px;
    width: 4px;
    background: #0B63AC;
    border-radius: 100rem;
    margin-left: .5rem;
    margin-bottom: 0.1rem;
}