.header.about {
    min-height: 450px;
    max-height: 450px;
    position: relative;
    .header_main{
        padding: 12rem 4.5rem 0 0;
        overflow: hidden;
        &_text {
            width: 75%;
            color: white;
            margin-left: 18rem;
            margin-right: -68rem;
            position: relative;
            z-index: 999;
            @include respond(tab-land){
                width: 85%!important;
                margin-left: 5rem!important;
                margin-right: -41rem!important;
            }
            @include respond(phone){
                width: 85%!important;
                margin-left: 2rem!important;
                margin-right: -12rem!important;
                padding: 8rem 4.5rem 0 0;
            }
           
            h3 {
                font-size: 35px;
                margin-bottom: -1.5rem;
                margin-top: 5rem;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                @include respond(phone){
                    font-size: 30px!important;
                }

            }
            h1 {
                font-size: 65px;
                font-weight: 900;
                font-family: 'Montserrat', sans-serif;
                line-height: .9;
                margin-top: 1rem;
                text-transform: uppercase;
                // display: block;
                // display: -webkit-box;
                // // max-width: 100%;
                // max-height: 50%;
                // line-height: 1;
                // -webkit-line-clamp: 3;
                // -webkit-box-orient: vertical;
                // overflow: hidden;
                // text-overflow: ellipsis;
                @include respond(phone){
                    font-size: 35px!important;
                    margin-top: 2rem;
                    width: 100%;
                }
            }
        }

        .header_main_video_cont {
            width: 61%;
            max-height: 410px;
            background-size: cover;
            background-repeat: no-repeat;
            @include respond(tab-land){
                width: 100%;
                background-position: -26rem;
            }
            @include respond(phone){
                background-position: -42rem;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(0.8);
            }
        }
    }
}

.about_cont {
    margin-top: 24rem;
    @include respond(tab-land){
        margin-top: 14rem;
    }
}
.wwa_sec_cont{
    position: relative;
}
.wwa_sec{
    display: flex;
    padding-left: 5rem;
    justify-content: space-between;
    @include respond(tab-land){
       flex-direction: column;
    }
    @include respond(phone){
        padding-left: 0;
     }
    


    &_text {
        width: 38%;
        position: relative;
        z-index: 10;
        @include respond(tab-land){
            width: 80%;
            margin-bottom: 12rem;
         }
         @include respond(phone){
            width: 90%;
            padding-left: 2.5rem;
         }

    }

    &_img  {
        position: relative;
        z-index: 10;
        img {
            width: 630px; 
        }

        .text_shape{
            position: absolute;
            top: -7rem;
            left: -8rem;
            background: #0B63AC;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem 3rem; 

            p {
                font-size: 48px;
                font-weight: 900; 
                @include respond(phone){
                    font-size: 40px;
                }
            }

            span {
                font-size: 18px;
                margin-top: -1rem;
                opacity: .9;
                font-weight: 400;
                @include respond(phone){
                    font-size: 15px;
                }
            }
        }
    }

    &:nth-of-type(1) {
        .wwa_sec_img {
            @include respond(tab-land){
                align-self: flex-end;
                width: 75vw;

                img {
                    width: 100%;
                }
            }
            @include respond(phone){
                width: 68vw;
            }
           
        } 
    }
    &:nth-of-type(2) {
        margin-top: -7rem;
         @include respond(tab-land) {
            flex-direction: column-reverse;
            margin-top: 8rem;
         }
        
        .wwa_sec_img  {
            width: 375px;
            height: 450px;
            @include respond(phone) {
                width: 211px;
                height: auto;
            }
            position: relative;
            & > img {
                width: 100%; 
                height: 100%;
            }    
        }

        .wwa_sec_text {
            width: 65%;
            align-self: flex-end;
            @include respond(tab-land) {
                width: 100%; 
                align-self: flex-start;
            }

            p {
                width: 90%;
                @include respond(tab-land) {
                    width: 100%;
                }

            }
        }

        .text_shape{
            padding: 2rem 4rem;
            left: unset;
            right: -16rem;
            top: -5rem;

          
        }
    }

    &:nth-of-type(3) {
        margin-top: 6rem;
        margin-bottom: 25rem;
        @include respond(phone) {
            margin-bottom: 8rem;
        }
        .wwa_sec_img  {
            width: 435px;
            @include respond(tab-land) {
                align-self: flex-end;
            }
            & > img {
               width: 98%;
            }    
        }

        .wwa_sec_text {
            width: 65%;
            @include respond(tab-land) {
                width: 100%;
            }

            p {
                width: 90%;
                @include respond(tab-land) {
                    width: 100%;
                }

            }
        }

        .text_shape{
            padding: 2.5rem 4rem;
            left: -17rem;
            right: unset;
            top: unset;
            bottom: -2rem;
            min-width: 20rem;
            @include respond(tab-land) {
                padding: 3rem 4rem;
                left: 50%;
                transform: translateX(-50%);
                width: 60%;
                min-width: 230px;
            }

            a {
                font-size: 13px;
                font-weight: bold;
                display: flex;
                align-items: center;
                color: white;
                text-transform: uppercase;

                img {
                    margin-right: .5rem;
                }
            }

          
        }
    }
}

.certification{

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;
        @include respond(tab-land) {
            flex-direction: column;;
        }

        .main_left_heading {
            min-width: 59rem;
            @include respond(phone) {
                min-width: 47rem;
                margin-left: -22%;
            }

            h2 {
                font-size: 65px;
                @include respond(phone) {
                    font-size: 34px;
                }
            }

            
        }

        p {
            max-width: 630px;
            margin: 2rem auto 0;
            @include respond(tab-land) {
                margin: 5rem auto 0;
            }
            @include respond(phone) {
                padding: 0 2rem;
            }
        }

    }
    .swiper-container{
        width: 80%;
        margin: 8rem auto;
        padding: 9rem 0;
        @include respond(tab-land) {
            width: 95%!important;
        }
    }

    .swiper-pagination_cert{
        display: none;
    }

    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: unset;
        top: 0;

        .swiper-pagination-bullet{
            width: unset;
            height: unset;
            background: unset;
            max-width: 55px;
            opacity: 1;
            border-radius: unset;
            outline: none;
            padding-bottom: .8rem;
            border-bottom: 1px solid transparent;
            margin: 0 1.5rem;

            &-active {  
                border-bottom-color: #0B63AC;       
            }
        }
    }

    .swiper-slide {
        height: auto!important;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 6.5rem 10rem;
            width: 80%;
            height: auto;
            min-height: 98%;
            max-height: 98% !important;
            margin: 0 auto;
            box-shadow: 0px 3px 16px #00000029;
            position: relative;
            @include respond(phone) {
                padding: 8.5rem 2rem;
                width: 95%;
             }
            
            img {
                min-width: 100px;
                max-width: 110px;
               margin-bottom: 2.5rem; 
            }

             p {
                 text-align: center;
             }

             &:before,&:after {
                position: absolute;
                content: "";
                width: 33px;
                height: 63px;
             }
             &:before {
                top: 2rem;
                left: 2rem;
                border-top: 1px solid #D0D0CF;
                border-left: 1px solid #D0D0CF;
             }
             &:after {
                bottom: 2rem;
                right: 2rem;
                border-bottom: 1px solid #D0D0CF;
                border-right: 1px solid #D0D0CF;
             }
        }  
    }

    .swiper-button-prev,.swiper-button-prev_w,.swiper-button-next,.swiper-button-next_w{
        top: 53%;
        width: 10px;
        height: 21px;
        background-size: 10px 39px;
        @include respond(phone) {
           display: none;
        }
    }

    .swiper-button-prev,.swiper-button-prev_w {
        left: 14%;
    }
    .swiper-button-next,.swiper-button-next_w {
        right: 14%;
    }
}


.Languages{
    margin: 7rem 0 ;
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;
        .main_left_heading {
            min-width: 49rem;
            @include respond(tab-land) {
                min-width: 65%;
            }
            @include respond(phone) {
                min-width: 85%;
                margin-left: 0;
            }

            h2 {
                font-size: 65px;
              
                @include respond(phone) {
                    font-size: 38px;
                }
            }

            
        }
        @include respond(tab-land) {
            margin-bottom: 0rem;
        }
    }

    &_img {
        display: flex;
        justify-content: flex-end;
        margin-top: -14rem;
        margin-right: 15rem;
        width: 100%;
        height: 600px;
        @include respond(tab-land) {
            margin-top: 0rem;
            margin-right: 0rem;
        }
        @include respond(tab-land) {
            margin-top: 4rem;
            height: auto;
        }
        img {
           width: 100%;
           height: 100%;
           object-fit: contain;
        }
    }
}

.DIFFERENTIATORS {
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;
        .main_left_heading {
            min-width: 68rem;
            @include respond(tab-land) {
                min-width: 74rem;
            }
            @include respond(phone) {
                min-width: 95%;
                margin-left: 0;
            }
            h2 {
                font-size: 65px;
                @include respond(tab-land) {
                    font-size: 56px;
                }
                @include respond(phone) {
                    font-size: 35px;
                }
            }

            
        }
    }

    &_tabs {
        display: flex;
        min-height: 600px;
        @include respond(tab-land) {
            flex-direction: column;
            padding: 8rem 0px;
            background: #0B63AC;
         }


        .tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10rem 0rem 4rem 4rem;
            min-width: 42rem;
            max-width: 42rem;
            align-self: flex-start;
            @include respond(tab-land) {
               display:none;
            }
            

            .tablinks{
                width: 100%;
                display: block;
                background: none;
                border: none;
                color: #143B64;
                font-size: 14px;
                margin-bottom: 3rem;
                padding: 1.5rem 1rem;
                padding-left: 3rem;
                border-radius: 26px 0 0 26px;
                display: flex;
                outline: none;

                &.active {
                    background: #0B63AC;  
                    color: white;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -49px;
                        right: 0px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        -webkit-box-shadow: 15px 15px 0 0 #0B63AC;
                        box-shadow: 17px 22px 0 0 #0B63AC;
                        transform: rotateZ(-102deg);
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: -49px;
                        right: 0px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        box-shadow: 17px 22px 0 0 #0B63AC;
                        transform: rotateZ(-2deg);
                    }
                }
                
            }
        }
        .custom_selectbox{
            position: relative; 
            width: 90%;
            margin: 0 auto;
            display: none;
            @include respond(tab-land) {
                display:block;
             }
            &:before {
                content: "";
            position: absolute;
            top: 35%;
            right: 25px;
            width: 14px;
            height: 22px;
            text-align: center;
            font-size: 28px;
            line-height: 45px;
            background-image: url(../img/icons/right_b.png);
            pointer-events: none;
            z-index: 99;
            background-repeat: no-repeat;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            cursor: pointer;
            }
        }
        #tab_mobile {
            background-color: white;
            border: none;
            height: 52px;
            padding: .8rem;
            border-radius: 22px 22px 22px 22px;
            color: #0B63AC;
            font-size: 14px;
            outline: none;
            padding-left: 1rem;
            width: 100%;
            cursor: pointer;
           
            outline: none;
            position: relative;
            -webkit-appearance: none;
            text-indent: 5px;
            
        }

        .tabcontents{
            background: #0B63AC;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding: 11rem 9rem;
            max-height: 100%;
            min-width: 92rem;
            position: relative;
            @include respond(tab-land) {
                padding: 11rem 5rem;
                min-width: 100%;
             }


            .tabcontent{
                position: relative;
                z-index: 10;
                display: none;
                &.openDefault {
                    display: block;
                }
                h3 {
                    font-size: 27px;
                    margin-bottom: 2rem;
                }

                p {
                    font-size: 15px;
                    line-height: 1.8; 
                }
            }
        }
    }
}



// mission and value 
.header.about.mv {
   
    .header_main_text {
        width: 92rem;
        margin-left: 15rem;
        margin-right: -59rem;
    }

    .header_main_video_cont{
        margin-right: 8rem;
    }
}

.v_m {
    display: flex;
    padding-left: 6rem;
    margin-top: 15rem;
    @include respond(tab-land) {
        flex-direction: column;
        margin-top: 10rem;
        padding-left: 4rem;
     }
     @include respond(phone) {
        margin-top: 15rem;
     }
    &-vision {
        width: 43%;
        overflow: hidden;
        @include respond(tab-land) {
            width: 75%;
            margin-top: -4rem;
            margin-bottom: 15rem;
         }
         @include respond(phone) {
            margin-bottom: 10rem;
            margin-top: 0rem;
        }
        .main_left_heading {
            max-width: 103%;
            margin-bottom: 2rem; 
            @include respond(phone) {
                min-width: 94vw;
                margin-left: 0;
            }

            h2 {
                font-size: 40px;
                color: #0B63AC;
            }
        }

        p {
            width: 278px;
            color: #143B64;
            font-size: 20px; 
        }
    }

    &-mission {
        padding-top: 4rem;
        width: 74%;
        background: #0B63AC;
        min-height: 440px;
        padding-bottom: 4rem;
        overflow: hidden;
        @include respond(tab-land) {
            width: 100%;
         }
         @include respond(phone) {
           padding-bottom: 6rem;
           overflow-x: hidden;
         }

        .main_left_heading.main_right_heading {
            min-width: 276px;
            max-width: 280px;
            @include respond(tab-land) {
               margin-left: -17%;
             }
            
            h2 {
                color: white;
                border-bottom: 2px solid white;
            }
        }

        &_content {
            display: flex;
            flex-direction: column;
            margin: 4rem 0 0 12rem;
            @include respond(tab-land) {
                margin: 4rem 0 0 6rem;
              }

            li {
                list-style: none;
                font-size: 20px;
                color: white;
                font-weight: 300;
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    left: -19px;
                    top: 10px;
                    width: .8rem;
                    height: .8rem;
                    background: #143B64;
                    border-radius: 50%;
                }
            }
        }
    }

    &.dream {
        margin-top: -9rem;
        padding-left: 20rem;
        @include respond(tab-land) {
            margin-top: 11rem;
            padding: 0 5rem;
            width: 100%;
         }
         @include respond(phone) {
            padding: 0 0 0 5rem;
            overflow-x: hidden;
         }

        .v_m-vision {
            position: relative;
            z-index: -1;
            @include respond(phone) {
                overflow-x: hidden;
             }

            .v_m-mission_content {
                margin: 6rem 0 0 3rem;
                 li {
                    color : #143B64;
                 }
                
            }
        }

        .dream-img{
            margin-top: 5rem;
            margin-left: 8rem;
            @include respond(tab-land) {
                margin-left: auto;
             }
            img {
                width: 376px;
            }
        }
    }
}


.ffsTabs {
    @include respond(tab-land) {
        margin: 22rem 0 15rem;
     }
   
    .ffs_tabs {
        flex-direction: column;
        align-items: unset;
        margin: 0 5rem 0 10rem;
        overflow: visible;
        @include respond(tab-land) {
            margin: 6rem 6rem 0 6rem;
            width: 86%;
         }
         @include respond(phone) {
            margin: 6rem 2rem 0 2rem;
            width: 97%;
         }
        .tab {
            display: flex;

            .ffs_tabs-tab {
                border: none !important;
                padding: 2.5rem 2rem !important;
               // width: 12rem;
                align-items: center;
                justify-content: center;
                min-height: unset;
                position: relative;
                cursor: pointer;
                &:before {
                   
                    position: absolute;
                    bottom: 4px;
                      left: 0;
                    width: 100%;
                    height: 8px;
                    background: white;
                    z-index: 9999999;
                }
                @include respond(tab-land) {
                    width: 21%;
                    &:not(:last-of-type) {
                        margin-right: 6%;
                    }
                    
                 }

                &.active {
                    box-shadow: 0px 0px 16px #00000023;
                    &:before {
                        content: "";
                    }
                }

                img {
                    width: 40px;
                }

                h3 {
                    font-size: 14px;
                    @include respond(phone) {
                      display: none;
                     }
                }
            }
        }

        .ffs_tabcontents {
            padding: 3rem 4rem;
            min-height: 26rem;
            box-shadow: 0 -5px 0 #fff, 0px 0px 16px #00000023;
            margin-top: 0rem;
            position: relative;
            z-index: 9999;
            background: white;

            .tabcontent {
                display: none;

                &.openDefault {
                    display: block;
                }

                h3 {
                    font-size: 27px;
                    color: #143B64;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.ffs_text .main_left_heading {
    @include respond(tab-land) {
        min-width: 80vw;
     }
     @include respond(phone) {
       
        min-width: 100vw;
     }
}

.me_Kh {
    width: 100%;
    height: 587px;
    background-image: url("../img/mission-vision/medhat khalil.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    @include respond(tab-land){
        background-position: -32rem 0rem;
        height: 1100px;
    } 
    @include respond(phone){
       display: block;
       background-position: -42rem 0rem;
    } 

    .me_Kh_text {
        background: rgba(255,255,255,.5);
        border-radius: 100vw;
        width: 937px;
        height: 937px;
        display: flex;
        padding: 16rem 0rem 0 19rem;  
        flex-direction: column;
        z-index: 1;
        position: relative;
        transform: translate(13rem, 19px);  
        @include respond(tab-land){
            transform: translate(16rem, 59rem);
        } 
        @include respond(phone){
            width: 90rem;
            height: 111rem;
            transform: translate(-9rem, 76rem);
            padding: 14rem 0rem 0 16rem;
        } 

        h2 {
            font-size: 42px;
            color: #0B63AC;
            line-height: 1;
            width: 60%;
            position: relative;
            font-weight: 800;
            text-transform: uppercase;
            @include respond(phone){
                font-size: 28px;
                width: 70vw;
            } 
            &:before, &:after {
                content: "";
                position: absolute;
                width: 82px;
                height: 53px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:before {    
                top: -3rem;
                left: -3rem;
                background-image: url("../img/mission-vision/quotes-start.png");
            }
            &:after {
                bottom: -1rem;
                right: -2rem;
                background-image: url("../img/mission-vision/quotes-end.png");
            }
        }

        .me_Kh_name {
            margin-top: 6rem;

            h4 {
                font-size: 20px;
                color: #143B64;
                font-weight: 800;
            }

            span {
                font-weight: 300;
                color: #58595B;
                font-size: 13px;
                margin-top: -.5rem;
                display: block;

            }
        }
    }

}

.managementContain {
    background-color: #0B63AC;
    padding-bottom: 96px;
    
    .managementImgSwiper {
        position: relative;
        top: -32px;
        height: 480px;
        .swiper-container {
            padding-left: 140px;
            padding-top: 32px;
        }
        .swiper-slide {
            width: 280px;
            height: 310px;
            z-index: 1;
            opacity: .7;
            transition: all .3s ease-in-out;
            .manageImg {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .swiper-slide-active {
            width: 330px;
            height: 480px;
            z-index: 2;
            margin-top: -32px;
            opacity: 1;
        }
    }
    
    
    .managementDataSwiper {
        color: #fff;
        display: flex;
        padding-left: 140px;
        padding-right: 4.5rem;
        position: relative;
        z-index: 3;
        top: -118px;
        h2 {
            color: white;
            border-bottom: 2px solid white;
        }
        .main_right_heading {
            max-width: max-content;
        }
        .swiper-container {
            width: 100%;
        }
        .managementDataSwiperArrows {
            width: 330px;
            padding-top: 118px;
        }
        .managementDataSwiperCont {
            width: calc(100% - 330px);
        }
        .swiper-slide {
            width: 100%;
        }
        // .swiperActionsWrap {
        //     position: relative;
        //     display: flex;
        //     align-items: center;
        // }
        .main__footer_toggler {
            margin-left: 16px;
        }
        .customPaginationWrap {
            display: flex;
            align-items: center;
        }
        .paginationNumb {
            font-size: 12px;
            
        }
        // .swiper-pagination {
        //     width: 160px;
        //     height: 2px;
        //     background-color: rgba(255,255,255,.5);
        //     position: relative;
        //     margin-left: 6px;
        //     margin-right: 6px;
        //     .swiper-pagination-progressbar-fill {
        //         background-color: #fff;
        //     }
        // }
        .manageBody {
            padding-left: 32px;
            padding-top: 8px;
            .manageSubStitle {
                font-size: 23px;
                text-transform: capitalize;
                margin-bottom: 32px;

            }
            p {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.7;
            }
        }
    }
}

.managementDataSwiper .main_slider_footer .progress_cont {
    width: 15rem;
    height: 2px;
    position: static;
    background: #5A95C6;
    margin-right: 3rem;
    position: relative;
}

ul.breadcrumb {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 10px 16px;
    list-style: none;
    z-index: 9999;
  }
  
  ul.breadcrumb li {
    display: inline-block;
    font-size: 13px;
    color: white;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 21rem;
    @include respond(phone){
        max-width: 15rem;
        font-size: 12px;
    }
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    opacity: .6;
    content: "\2502";
  }

  ul.breadcrumb li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  ul.breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
  }



  @media (max-width: 992px) {
    .managementContain .managementImgSwiper .swiper-container,
    .managementContain .managementDataSwiper {
        padding-left: 32px;
    }
    .managementContain .managementDataSwiper h2 {
        font-size: 28px;
    }
    .managementContain .managementDataSwiper .manageBody .manageSubStitle {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .managementContain .managementImgSwiper .swiper-container {
        padding-left: 48px;
    }
    .managementContain .managementDataSwiper .customPaginationWrap {
        display: none;
    }
    .managementContain .managementDataSwiper {
        padding-left: 0;
        padding-right: 1.5rem;
    }
    .managementContain .managementDataSwiper .manageBody {
        padding-left: 1.5rem;
    }
    .managementContain .managementImgSwiper .swiper-slide-active,
    .managementContain .managementDataSwiper .main__footer_toggler {
        width: calc(100% - 48px);
    }
    .managementContain .managementDataSwiper .main__footer_toggler {
        margin: 0;
        margin-top: 16px;
        margin-bottom: 32px;
        padding-left: 48px;
    }
    .managementContain .managementDataSwiper .main_right_heading {
        margin-left: 0;
    }
    .managementContain .managementDataSwiper .swiperActionsWrap {
        margin-right: -1.5rem;
    }
    .managementContain .managementDataSwiper {
        flex-wrap: wrap;
    }
    .managementContain .managementDataSwiper .managementDataSwiperArrows,
    .managementContain .managementDataSwiper .managementDataSwiperCont {
        width: 100%;
    }
}

.header.about.investors_header h3 {
    @media (max-width: 600px) {
        margin-top: 1rem; 
    }
}