.header.about {
    min-height: 450px;
    max-height: 450px;
    .header_main{
        padding: 12rem 4.5rem 0 0;
        &_text {
            width: 75%;
            color: white;
            margin-left: 18rem;
            margin-right: -68rem;
            position: relative;
            z-index: 999;
           
            h3 {
                font-size: 35px;
                margin-bottom: -1.5rem;
                margin-top: 5rem;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;

            }
            h1 {
                font-size: 65px;
                font-weight: 900;
                font-family: 'Montserrat', sans-serif;
                line-height: .9;
                margin-top: 1rem;
            }
        }

        .header_main_video_cont {
            width: 30%;
            img {
                width: 733px;
                filter: brightness(0.8);
            }
        }
    }
}

.about_cont {
    margin-top: 24rem; 
}

.wwa_sec{
    display: flex;
    padding-left: 5rem;
    justify-content: space-between;


    &_text {
        width: 38%;

    }

    &_img  {
        position: relative;
        img {
            width: 630px; 
        }

        .text_shape{
            position: absolute;
            top: -7rem;
            left: -8rem;
            background: #0B63AC;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem 3rem; 

            p {
                font-size: 48px;
                font-weight: 900; 
            }

            span {
                font-size: 18px;
                margin-top: -1rem;
                opacity: .9;
                font-weight: 400;
            }
        }
    }

    &:nth-of-type(2) {
        margin-top: -7rem;
        .wwa_sec_img  {
            position: relative;
            & > img {
                width: 375px; 
                height: 450px;
            }    
        }

        .wwa_sec_text {
            width: 65%;
            align-self: flex-end;

            p {
                width: 90%;

            }
        }

        .text_shape{
            padding: 2rem 4rem;
            left: unset;
            right: -16rem;
            top: -5rem;

          
        }
    }

    &:nth-of-type(3) {
        margin-top: 6rem;
        margin-bottom: 25rem;
        .wwa_sec_img  {
            & > img {
                width: 435px; 
            }    
        }

        .wwa_sec_text {
            width: 65%;

            p {
                width: 90%;

            }
        }

        .text_shape{
            padding: 2.5rem 4rem;
            left: -17rem;
            right: unset;
            top: unset;
            bottom: -2rem;

            a {
                font-size: 13px;
                font-weight: bold;
                display: flex;
                align-items: center;
                color: white;

                img {
                    margin-right: .5rem;
                }
            }

          
        }
    }
}

.certification{

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;

        .main_left_heading {
            min-width: 59rem;

            h2 {
                font-size: 65px;
            }

            
        }

        p {
            max-width: 630px;
            margin: 2rem auto 0;
        }

    }
    .swiper-container{
        width: 80%;
        margin: 8rem auto;
        padding: 9rem 0;
    }

    .swiper-pagination_cert{
        display: none;
    }

    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: unset;
        top: 0;

        .swiper-pagination-bullet{
            width: unset;
            height: unset;
            background: unset;
            max-width: 70px;
            opacity: 1;
            border-radius: unset;
            outline: none;
            padding-bottom: .8rem;
            border-bottom: 1px solid transparent;
            margin: 0 1.5rem;

            &-active {  
                border-bottom-color: #0B63AC;       
            }
        }
    }

    .swiper-slide {
        height: auto!important;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 6.5rem 10rem;
            width: 59%;
            height: auto;
            max-height: 90%!important;
            margin: 0 auto;
            box-shadow: 0px 3px 16px #00000029;
            
            img {
               width: 116px;
               margin-bottom: 2.5rem; 
            }

             p {
                 text-align: center;
             }
        }  
    }

    .swiper-button-prev,.swiper-button-next{
        top: 53%;
        width: 10px;
        height: 21px;
        background-size: 10px 39px;
    }

    .swiper-button-prev {
        left: 14%;
    }
    .swiper-button-next {
        right: 14%;
    }
}


.Languages{
    margin: 7rem 0 ;
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;
        .main_left_heading {
            min-width: 49rem;

            h2 {
                font-size: 65px;
            }

            
        }
    }

    &_img {
        display: flex;
        justify-content: flex-end;
        margin-top: -14rem;
        margin-right: 15rem;
        img {
            width: 920px;
            height: 610px;
        }
    }
}

.DIFFERENTIATORS {
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;
        .main_left_heading {
            min-width: 68rem;

            h2 {
                font-size: 65px;
            }

            
        }
    }

    &_tabs {
        display: flex;

        .tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 4rem 0rem 4rem 7rem;
            width: 200rem;

            .tablinks{
                width: 100%;
                display: block;
                background: none;
                border: none;
                color: #143B64;
                font-size: 14px;
                margin-bottom: 3rem;
                padding: 1.5rem 1rem;
                padding-left: 3rem;
                border-radius: 26px 0 0 26px;
                display: flex;
                outline: none;

                &.active {
                    background: #0B63AC;  
                    color: white;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -49px;
                        right: 0px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        -webkit-box-shadow: 15px 15px 0 0 #0B63AC;
                        box-shadow: 17px 22px 0 0 #0B63AC;
                        transform: rotateZ(-102deg);
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: -49px;
                        right: 0px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        box-shadow: 17px 22px 0 0 #0B63AC;
                        transform: rotateZ(-2deg);
                    }
                }
                
            }
        }

        .tabcontents{
            background: #0B63AC;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20rem 9rem;
            max-height: 600px;
            min-width: 92rem;


            .tabcontent{
                display: none;
                &.openDefault {
                    display: block;
                }
                h3 {
                    font-size: 27px;
                    margin-bottom: 2rem;
                }

                p {
                    font-size: 15px;
                    line-height: 1.8; 
                }
            }
        }
    }
}



// mission and value 
.header.about.mv {
    margin-bottom: 15rem;
    .header_main_text {
        width: 92rem;
        margin-left: 15rem;
        margin-right: -59rem;
    }

    .header_main_video_cont{
        margin-right: 8rem;
    }
}

.v_m {
    display: flex;
    padding-left: 6rem;
    &-vision {
        width: 43%;
        .main_left_heading {
            max-width: 103%;
            margin-bottom: 2rem; 

            h2 {
                font-size: 40px;
                color: #0B63AC;
            }
        }

        p {
            width: 278px;
            color: #143B64;
            font-size: 20px; 
        }
    }

    &-mission {
        padding-top: 4rem;
        width: 74%;
        background: #0B63AC;
        min-height: 440px;

        .main_left_heading.main_right_heading {
            min-width: 276px;
            max-width: 280px;
            
            h2 {
                color: white;
                border-bottom: 2px solid white;
            }
        }

        &_content {
            display: flex;
            flex-direction: column;
            margin: 4rem 0 0 12rem;

            li {
                list-style: none;
                font-size: 20px;
                color: white;
                font-weight: 300;
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    left: -19px;
                    top: 10px;
                    width: .8rem;
                    height: .8rem;
                    background: #143B64;
                    border-radius: 50%;
                }
            }
        }
    }

    &.dream {
        margin-top: -9rem;
        padding-left: 20rem;

        .v_m-vision {
            position: relative;
            z-index: -1;

            .v_m-mission_content {
                margin: 6rem 0 0 3rem;
                 li {
                    color : #143B64;
                 }
                
            }
        }

        .dream-img{
            margin-top: 5rem;
            margin-left: 8rem;
            img {
                width: 376px;
            }
        }
    }
}


.ffsTabs {
   
    .ffs_tabs {
        flex-direction: column;
        align-items: unset;
        margin: 0 5rem 0 10rem;
        .tab {
            display: flex;

            .ffs_tabs-tab {
                border: none !important;
                padding: 2.5rem 2rem !important;
                width: 12rem;
                align-items: center;
                justify-content: center;
                min-height: unset;

                &.active {
                    box-shadow: 0px -2px 16px #00000029;
                }

                img {
                    width: 40px;
                }

                h3 {
                    font-size: 14px;
                }
            }
        }

        .ffs_tabcontents {
            padding: 3rem 4rem;
            height: 24rem;
            box-shadow: 0px 12px 16px #00000029;
            margin-top: -.3rem;

            .tabcontent {
                display: none;

                &.openDefault {
                    display: block;
                }

                h3 {
                    font-size: 27px;
                    color: #143B64;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}



.me_Kh {
    width: 100%;
    height: 587px;
    background-image: url("../img/mission vision/medhat khalil.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    .me_Kh_text {
        background: rgba(255,255,255,.5);
        border-radius: 100vw;
        width: 937px;
        height: 937px;
        display: flex;
        padding: 16rem 0rem 0 19rem;
       
        flex-direction: column;
        z-index: 1;
        position: relative;
        transform: translate(13rem, 19px);  

        h2 {
            font-size: 42px;
            color: #0B63AC;
            line-height: 1;
            width: 60%;
        }

        .me_Kh_name {
            margin-top: 6rem;

            h4 {
                font-size: 20px;
                color: #143B64;
            }

            span {
                font-weight: 300;
                color: #58595B;
                font-size: 13px;
                margin-top: -.5rem;
                display: block;

            }
        }
    }

}