.careers {
    padding: 8rem 4.5rem;
    width: 75%;

    h2 {
        color: #0B63AC;
        font-size: 40px;
        font-weight: 800;
        width: 34rem;
        margin-bottom: 2rem;
        line-height: 1;
    }

     
}

.w_w_w_us.solutions{
    margin: -20rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .solutions_swiper {
        margin-left: 0;
    }

    .main_slider_footer {
        align-self: flex-end;
        width: auto;
    }
}

.w_w_w_us_text {
    width: 55%;
    align-self: flex-start;
    position: relative;

    img {
        width: 700px;
        border-radius: 50%;
        transform: translate(11rem, 11rem);
       

        
    }

    .career_over {
        width: 700px;
        height: 700px;
        position: absolute;
        background: rgba(#143B64,.8);
        border-radius: 50%;
        top: 11rem;
        right: -4rem;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -8px;
            width: 103%;
            height: 100%;
            background-color: transparent;
            border: 1px solid #A7A9AC;
            border-radius: 100rem;
        
        }

        .w_w_w_us_text-cont {
            position: absolute;
            top: 20%;
            right: 50%;
            transform: translate(50%, 0);

            h3 {
                font-size: 42px;
                text-transform: uppercase;
                color: white;
                width: 29rem;
                line-height: 1;
            }

            p, ul li {
                color: white;
            }

            li:before {
                background-color: white;
            }
        }
    }
}

.d_g_w_u {
    display: flex;
    align-items: center;
   .careers {
       width: 50%;

       ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 43%;
        }
       }
   }
}


.careers.applyNow {
    padding: 8rem 4.5rem 2rem;
 & > h2 {
     width: 100%;
 }
}

.careers_loc {
    padding: 0 4.5rem;
}
.careers_loc_tabs {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    & > a {
        color: #0B63AC;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1.2rem 1.5rem;
        margin-right: 1rem;

        &.active {
            border: 1px solid #A7A9AC;
        }
    }
}

.careers_loc_content {
    margin-bottom: 2rem;
    &_head {
        display: flex;
        
        width: 100%;
        min-height: 130px;
        &-toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 40px;
            background: #D0D0CF;
            img {
                width: 10px;
                transition: all .3s ease;

                &.open {
                    transform: rotate(-90deg);
                }
            }   
        }

        &-title {
            width: calc(100% - 40px);
            background-color: #F4F4F4;
            display: flex;
            justify-content: center;
            padding-left: 3rem;
            flex-direction: column;
            h3 {
                font-size: 21px;
                color: #143B64;
                font-weight: 800;
                text-transform: uppercase;
                margin-top: -1rem;
            }

            h6 {
                font-size: 17px;
                color: #143B64;
                font-weight: 300;
                text-transform: capitalize;
                margin: 0;
            }

            &-info {
                display: flex;
                align-items: center;
                margin-bottom: 1.2rem;

                & > p {
                    color: #58595B;
                    font-size: 15px;
                }
                

                &-v {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 1.5rem;

                    
                }
            }

            .info-title {
                color: #58595B;
                font-size: 15px;
                font-weight: bold;
                margin-right: 2rem;
            }
        }
    }

    &_body {
        display: none;
        min-height: unset;
        .full_cont {
            margin: 1.5rem 20%  5rem 0 ; 
        }
    }
}

.apply_now_btn{
    display: flex;
    justify-content: flex-end;

    a {
        width: 40%;
        height : 75px;
        background-color: #4184C5;
        font-size: 19px;
        font-weight: 900;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        img {
            width: 6px;
            margin-left: 1rem;
        }
    }
}

.application_form {
    display: flex;
    &_video {
        width: 45%;
        margin-right: -3rem;
        padding-top: 10rem;
        position: relative;
        z-index: 1;
    }

    &_form {
        background-color: #0B63AC;
        min-height: 750px;
        padding: 10rem 3rem 4rem 9rem;
        width: 55%;
            flex-grow: 1;

        h2 {
            font-size: 40px;
            color: #FFFFFF;
            text-transform: uppercase;
            font-weight: bold;
        }

        .custom_input_group {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 3rem;

            .custom_input {
                width: 47%;
                display: flex;
                flex-direction: column;
                margin-bottom: 4rem;

                &:nth-of-type(odd),&.customMR {
                    margin-right: 3%;
                }
                label {
                    color: #FFFFFF;
                    font-size: 13px;
                    text-transform: capitalize;
                    font-weight: bold;
                    margin-bottom: .5rem;
                }

                input,select,textarea {
                    background-color: #065495;
                    border: none;
                    height: 44px;
                    padding: .8rem;
                    border-radius: 0 22px 22px 22px;
                    color: white;
                    outline: none;
                    padding-left: 1rem;
                    width: 100%;
                    cursor: pointer;
                   
                }

                textarea {
                    height: 114px;
                    resize: vertical;
                }

                select {
                    color: rgba(255,255,255,.6);
                    font-size: 12px;
                    -webkit-appearance: button;
                    appearance: button;
                    outline: none;
                    position: relative;
                    /* for Firefox */
                    -moz-appearance: none;
                    /* for Chrome */
                    -webkit-appearance: none;  
                    /* For IE10 */
                    &::-ms-expand {
                        display: none;
                    }
                    text-indent: 5px;
                    option {
                        padding: 30px;
                        color: white;
                        font-size: 14px;
                    }
                            
                }
                .custom_selectbox {
                    position: relative;
                    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 35%;
                        right: 25px;
                        width: 14px;
                        height: 22px;
                        text-align: center;
                        font-size: 28px;
                        line-height: 45px;
                        background-image: url(../img/icons/right_w.png);
                        pointer-events: none;
                        z-index: 99;
                        background-repeat: no-repeat;
                        transform: rotate(90deg);
                        cursor: pointer;
                    }
                }
            }
        }
    }

}

.input_files_cont{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.input_file_cont {
    margin-bottom: 2rem;
}

.input-file-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 300;

    span {
        font-size: 10px;
        color: white;
        font-weight: 100;
        display: block;
        font-style: italic;
        margin-left: 1rem;
    }
   
  } 
  .js .input-file-trigger {
    display: block;
    font-size: 15px;
    color: white;
    transition: all .4s;
    cursor: pointer;
  }
  .js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    color : white;
    width: 85px;
    
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
  }

  
  .file-return {
    margin: 0;
  }
  .file-return:not(:empty) {
    margin: 1em 0;
  }
  .js .file-return {
    font-style: italic;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    margin: .3rem 0;
  }
  .js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
  }
  
  .application_form_form {
      position: relative;
  }

  .submit_form {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .main_btn_white.submitForm {
        position: relative;
        background-color: white;
        display: flex;
        align-items: center;
        color: #0B63AC;
        justify-content: center;
        width: 370px;
        height: 80px;
        margin-top: 0;
        margin-left: 0;
        font-size: 13px;
        font-weight: 800;

        img {
            margin-left: 5rem;
            width: 7px;
        }
      
      input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          cursor: pointer;
          -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;  
            /* For IE10 */
            &::-ms-expand {
                display: none;
            }
          
      }

      span {
        left: 30%;
      }
  }


  .careers_loc_content > .careers_loc_content_head:first-of-type {
      cursor: pointer;
  }