.careers {
    padding: 8rem 4.5rem;
    width: 75%;
    @include respond(tab-land) {
        padding: 0rem 2.5rem 4rem;
        width: 87%;
     }

    h2 {
        color: #0B63AC;
        font-size: 40px;
        font-weight: 800;
        width: 34rem;
        margin-bottom: 2rem;
        line-height: 1;
    }

     
}

.w_w_w_us.solutions{
    margin: -20rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(tab-land) {
        flex-direction: column;
        margin: 3rem 0 0;
        padding-bottom: 17rem;
     }

     .solutions_content_slider {
        @include respond(tab-land) {
            align-self: flex-start;
            width: 80%;
         }
         @include respond(phone) {
            width: 90%;
         }
     }

    .solutions_swiper {
        margin-left: 0;

        .swiper-slide {
            @include respond(phone) {
                height: 220px;
             }
        }
    }

    .main_slider_footer {
        align-self: flex-end;
        width: auto;
        @include respond(phone) {
            width: 80%;
         }
    }
}

.w_w_w_us_text {
    width: 700px;
    height: 700px;
    align-self: flex-start;
    position: relative;
    margin-right: -5rem;
    @include respond(tab-land) {
        align-self: flex-end;
        margin-right: 5rem;
        margin-top: 4rem;
     }
     @include respond(phone) {
        margin-right: -17rem;
     }

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: translate(11rem, 11rem);
       
       

        
    }

    .career_over {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(#143B64,.8);
        border-radius: 50%;
        top: 11rem;
        right: -9rem;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -8px;
            width: 103%;
            height: 100%;
            background-color: transparent;
            border: 1px solid #A7A9AC;
            border-radius: 100rem;
        
        }

        .w_w_w_us_text-cont {
            position: absolute;
            top: 20%;
            right: 52%;
            transform: translate(50%, 0);
            @include respond(phone) {
                top: 17%;
                right: 56%;
               
            }

            h3 {
                font-size: 42px;
                text-transform: uppercase;
                color: white;
                width: 29rem;
                line-height: 1;
            }

            p, ul li {
                color: white;
            }

            li:before {
                background-color: white;
            }
        }
    }
}

.d_g_w_u {
    display: flex;
    align-items: center;
    @include respond(tab-land) {
       flex-direction: column;
       padding-bottom: 10rem;
       margin-bottom: 10rem;
     }
     @include respond(phone) {
        padding-bottom: 0rem;
        margin-bottom: 0rem;
    }
     .main_slider_footer {
        margin: 3rem 0 0 7rem; 
        @include respond(phone) {
            margin: 2rem 0 0 0rem;
        }
     }
   .careers {
       width: 50%;
       @include respond(tab-land) {
        flex-direction: column;
        width: 100%;
      }

       ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 43%;
            @include respond(phone) {
                width: 95%;
            }
        }
       }
   }

   .solutions_content_slider {
       width: 50%;
    @include respond(tab-land) {
        flex-direction: column;
        width: 78%;
        max-width: 75rem;
      }     
      @include respond(phone) {
        width: 100%;
      }    
      
      .swiper-slide {
        @include respond(phone) {
            height: 247px!important;
          }   
      }
   }
}


.careers.applyNow {
    padding: 8rem 4.5rem 2rem;
    @include respond(phone) {
        padding: 0rem 1.5rem 4rem;
    }     
 & > h2 {
     width: 100%;
 }
}

.careers_loc {
    padding: 0 4.5rem;
    @include respond(phone) {
        padding: 0 1.5rem;
        
    }   

    .custom_selectbox {
        position: relative;
        margin: -20px auto 10rem;
        display: none;

        &:before {
            content: "";
            position: absolute;
            top: 35%;
            right: 25px;
            width: 14px;
            height: 22px;
            text-align: center;
            font-size: 28px;
            line-height: 45px;
            background-image: url(../img/icons/right_b.png);
            pointer-events: none;
            z-index: 99;
            background-repeat: no-repeat;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            cursor: pointer;
        }
        @include respond(phone) {
            display: block;
        }
    }
    
    #careers_loc_tabs_select {
        background-color: white;
        border: 1px solid #A7A9AC;
        height: 52px;
        padding: .8rem;
        color: #0B63AC;
        font-size: 14px;
        outline: none;
        padding-left: 1rem;
        width: 100%;
        cursor: pointer;
        outline: none;
        position: relative;
        -webkit-appearance: none;
        text-indent: 5px;
    }
}
.careers_loc_tabs {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    @include respond(phone) {
       display: none;
        
    }   

    & > a {
        color: #0B63AC;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1.2rem 1.5rem;
        margin-right: 1rem;

        &.active {
            border: 1px solid #A7A9AC;
        }
    }
}

.careers_loc_content {
    margin-bottom: 2rem;
    &_head {
        display: flex;
        
        width: 100%;
        min-height: 130px;
        &-toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 40px;
            background: #D0D0CF;
            img {
                width: 10px;
                transition: all .3s ease;

                &.open {
                    transform: rotate(-90deg);
                }
            }   
        }

        &-title {
            width: calc(100% - 40px);
            background-color: #F4F4F4;
            display: flex;
            justify-content: center;
            padding-left: 3rem;
            flex-direction: column;
            h3 {
                font-size: 21px;
                color: #143B64;
                font-weight: 800;
                text-transform: uppercase;
                margin-top: -1rem;
            }

            h6 {
                font-size: 17px;
                color: #143B64;
                font-weight: 300;
                text-transform: capitalize;
                margin: 0;
            }

            &-info {
                display: flex;
                align-items: center;
                margin-bottom: 1.2rem;

                & > p {
                    color: #58595B;
                    font-size: 15px;
                }
                

                &-v {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 1.5rem;

                    
                }
            }

            .info-title {
                color: #58595B;
                font-size: 15px;
                font-weight: bold;
                margin-right: 2rem;
            }
        }
    }

    &_body {
        display: none;
        min-height: unset;
        .full_cont {
            margin: 1.5rem 20%  5rem 0 ; 
        }
    }
}

.apply_now_btn{
    display: flex;
    justify-content: flex-end;

    a {
        width: 40%;
        height : 75px;
        background-color: #4184C5;
        font-size: 19px;
        font-weight: 900;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        @include respond(tab-land){
            width: 70%;
        }
        @include respond(phone){
            width: 90%;
        }
        img {
            width: 6px;
            margin-left: 1rem;
        }
    }
}

.application_form {
    display: flex;
    @include respond(tab-land){
        flex-direction: column;
    }
    &_video {
        width: 45%;
        margin-right: -3rem;
        padding-top: 10rem;
        position: relative;
        z-index: 1;
        @include respond(tab-land){
            width: 80%;
            margin-right: 0rem;
            align-self: center;
        }
        @include respond(tab-land){
            width: 95%;
           
        }
    }

    &_form {
        background-color: #0B63AC;
        min-height: 750px;
        padding: 10rem 3rem 4rem 9rem;
        width: 55%;
        flex-grow: 1;
        @include respond(tab-land){
            justify-self: center;
            margin: 0 auto;
            margin-top: -5rem;
            padding: 14rem 3rem 4rem 9rem;
            width: 95%;
        }
        @include respond(phone){
            width: 100%;
            padding: 14rem 3rem 25rem 4rem;
           
        }

        h2 {
            font-size: 40px;
            color: #FFFFFF;
            text-transform: uppercase;
            font-weight: bold;
        }

      
    }

}

.input_files_cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
       width: 100%;
     }
}

.input_file_cont {
    margin-bottom: 2rem;
}

.input-file-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 300;

    span {
        font-size: 10px;
        color: white;
        font-weight: 100;
        display: block;
        font-style: italic;
        margin-left: 1rem;
    }
   
  } 
  .js .input-file-trigger {
    display: block;
    font-size: 15px;
    color: white;
    transition: all .4s;
    cursor: pointer;
  }
  .js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    color : white;
    width: 85px;
    
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
  }

  
  .file-return {
    margin: 0;
  }
  .file-return:not(:empty) {
    margin: 1em 0;
  }
  .js .file-return {
    font-style: italic;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    margin: .3rem 0;
  }
  .js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
  }
  
  .application_form_form {
      position: relative;
  }

  .submit_form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
  }
  .main_btn_white.submitForm {
        position: relative;
        background-color: white;
        display: flex;
        align-items: center;
        color: #0B63AC;
        justify-content: center;
        width: 370px;
        height: 80px;
        margin-top: 0;
        margin-left: 0;
        font-size: 13px;
        font-weight: 800;
        @include respond(phone) {
            width: 100%; 
         }

        img {
            margin-left: 5rem;
            width: 7px;
        }
      
      input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          cursor: pointer;
          color: transparent;
          -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;  
            /* For IE10 */
            &::-ms-expand {
                display: none;
            }
          
      }

      span {
        left: 30%;
      }
  }


  .careers_loc_content > .careers_loc_content_head:first-of-type {
      cursor: pointer;
  }


  .custom_input_group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;

    .custom_input {
        width: 47%;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        @include respond(phone) {
            width: 100%;
         }

        &:nth-of-type(odd),&.customMR {
            margin-right: 3%;
        }
        label {
            color: #FFFFFF;
            font-size: 13px;
            text-transform: capitalize;
            font-weight: bold;
            margin-bottom: .5rem;
        }

        input,select,textarea {
            background-color: #065495;
            border: none;
            height: 44px;
            padding: .8rem;
            border-radius: 0 22px 22px 22px;
            color: white;
            outline: none;
            padding-left: 1rem;
            width: 100%;
            cursor: pointer;
           
        }

        textarea {
            height: 114px;
            resize: vertical;
        }

        select,select[multiple] {
            color: rgba(255,255,255,.6);
            font-size: 12px;
            -webkit-appearance: button;
            appearance: button;
            outline: none;
            position: relative;
            /* for Firefox */
            -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;  
            /* For IE10 */
            &::-ms-expand {
                display: none;
            }
            text-indent: 5px;
            option,option:not(:checked),option:checked {
                padding: 0!important;
                color: white;
                font-size: 14px;
                background-color: transparent;
            }
                    
        }
        .custom_selectbox {
            position: relative;
            
            &:before {
                content: "";
                position: absolute;
                top: 1.5rem;
                right: 25px;
                width: 14px;
                height: 22px;
                text-align: center;
                font-size: 28px;
                line-height: 45px;
                background-image: url(../img/icons/right_w.png);
                pointer-events: none;
                z-index: 99;
                background-repeat: no-repeat;
                transform: rotate(90deg);
                cursor: pointer;
            }
        }
    }
}


.solutionsTabs.Locations.car {
    display: flex;
   
    // @include respond(tab-land) {
    //     margin-top: 9rem;
    //     padding: 6rem 4.5rem 8rem 0;
    //  }

     @media(max-width: 80em) {
        margin-top: 9rem;
        padding: 6rem 4.5rem 8rem 0;
     }
    a {
        padding:  2.5rem;
        @include respond(tab-land) {
            padding: 2.5rem 1.5rem;
         }
    }
}



select[multiple] {
    overflow-y: auto;
    height: 15rem!important;
    option:checked,option:active {
        background: #C8C8C8 linear-gradient(0deg, #C8C8C8 0%, #C8C8C8 100%);
        color: white!important;
        &:nth-of-type(1) {
            padding-top: 5px!important;
        }
    }
            
}