.w-100 {
    width:100%!important;
}

.mb-3 {
    margin-bottom: 2.5rem;
}

.alignStart {
    align-self: flex-start;
}

.contact_sec_head {
    width: 100%;
    margin-bottom: 2rem;
    color: white;
    font-size: 18px;
    font-weight: 100;
    text-transform: capitalize;
}


.submit_form.positionRight {
    left: unset;
    right: 0;
    width: 50%;
    .submitForm {
        width: 100%;
        min-width: 200px;
    }
}

.application_form_form.contact {
    padding-bottom: 18rem;
    width: 50%;
    flex-grow: 0;
    @include respond(tab-land) {
        width: 100%;
        margin-top: 2rem;
    }
}


.contactInfo {
    width: 40%;
    margin-top: -8rem;
    @include respond(tab-land) {
        width: 100%;
        margin-top: -1rem;
    }
    &_head{
        color: #0B63AC;
        font-size: 40px;
        font-weight: 800;
        text-transform: capitalize;
        margin-bottom: 3rem;
    }

    .contactInfo_sec {
        margin-bottom: 3.5rem;
        h3 {
            color: #A7A9AC;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        h5 {
            color: #143B64;
            font-size: 13px;
            font-weight: bold;
            margin-top: 2rem;
        }

        p {
            color: #58595B;
            font-size: 15px;
            margin-bottom: 1rem;
            width: 80%;
        }

        img {
            width: 100%;
            margin-top: 2rem;
            @include respond(tab-land) {
                max-width: 436px;
                height: 180px;
            }
            
        }
    }
}

.contact_cont.contactPage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    @include respond(tab-land) {
        flex-direction: column-reverse;
        padding: 0 2.5rem;
    }
    @include respond(phone) {
        flex-direction: column-reverse;
        padding: 0 2.5rem;
    }
}