
.main_slider {
    .header__cont-text {
        h1 {
          font-size: 65px;
          color: white;
          text-transform: uppercase;
          font-weight: 800;
          line-height: 1;
          font-family: 'Montserrat', sans-serif;   
        @include respond(phone){
            font-size: 35px;      
        }
     
          
        }
        
    }  

    .swiper-container {
        display: flex;
        flex-direction: column;
    }

    &_footer {
      display: flex;
      align-items: center;
      width: 28rem;

      .progress_cont {
          width: 10rem;
          height: 2px;
          position:static;
          background: #5A95C6;
          margin-right: 5rem;
          position: relative;

          .progress{
            background: #A8C8E1;
            
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: 100;
            width: 1px;
          }
          &.blue {
              background: #9FC1E2;
            .progress {
                background: #0B63AC;  
            }
            
          }
         

         
      }

    }

}

.main__footer_toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4rem;
    @include respond(phone){
        width: 7rem;
    }
  }

.swiper-button-prev_w,
.swiper-button-next_w,
.swiper-button-prev_b,
.swiper-button-next_b {
  width: 7px;
  background-repeat: no-repeat;
  background-position: center;
  height: 18px;
  cursor: pointer;

  @include respond(phone){
    width: 10px;
    height: 23px;
    background-size: contain;
}

  &,&:focus {
      outline: none;
      border: none;
  }
}

.swiper-button-prev_w {
  background-image : url("../img/icons/left_w.png");  
}

.swiper-button-next_w {
  background-image : url("../img/icons/right_w.png");
}
.swiper-button-prev_b {
    background-image : url("../img/icons/left_b.png");  
}

.swiper-button-next_b {
    background-image : url("../img/icons/right_b.png");
}



// facts section

.facts {
  margin-top: 6rem;
  padding: 0 14rem;
  margin-bottom: 15rem;
  overflow-x: hidden;
  @include respond(phone){
    margin-top: 15rem;
    padding: 0 2rem;
    
    }

  &_heading {
      font-size: 37px;
  }

  .cont {
      margin-top: 12rem;
      display: flex;
      align-items: baseline;
      justify-content: space-evenly;
      @include respond(tab-land){
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @include respond(phone){
        justify-content: center;
        margin-top: 6rem;
        
    }

      .facts__counter {
        @include respond(tab-land){
            width: 33%;

            &:nth-of-type(4),&:nth-of-type(5) {
                flex-grow: 1;
                @include respond(phone){
                    flex-grow: 0;
                    
                }
            }
        }
        @include respond(phone){
            width: 49%;
            
        }
          &--content {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
          }

          &--number.years {

              & > p {
                  font-size: 12px;
                  font-weight: 900;
                  color: #62AC45;
                  display: inline-block;
                  margin-left: -1.3rem;
              }
             
          }

          &--number {
              font-size: 60px;
              font-weight: 900;
              color : #62AC45;
              font-family: 'Montserrat', sans-serif;

            
          }

          &--subject {
              font-size: 17px;
              color: #58595B;
              text-transform: capitalize;
              max-width: 15rem;
              margin-top: -1rem;
          }
      }
  }
}


// LOCATIONS

.locations {
  display: flex;
  align-items: center;
  margin-bottom: 24rem;
  @include respond(tab-land){
    flex-direction: column-reverse;
    align-items: flex-start;
}
@include respond(phone){
    flex-direction: column;
    
}

.main_right_heading {
    @include respond(tab-land){
        margin-top: -23rem;
        margin-left: -18rem;
        position: relative;
        z-index: 999;
    }
    @include respond(phone){
        margin-top: -18rem;
        
    }
}
  .facts_heading  {
      margin-top: 12rem;
      margin-right: -4rem; 
      @include respond(phone){
        font-size: 28px;
    }
  }

  img {
      max-width: 925px;
      margin-left: -10rem;
      margin-top: 0rem;
      @include respond(tab-land){
            max-width: 100%;
            margin-left: 0rem;
            margin-top: 0rem;
    }
    @include respond(phone){
        max-width: 100%;
        margin-left: 0rem;
        margin-top: 7rem;
        width: 100%;
    }
  }
}


.industries {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    &_overlay {
        width: 80%;
        height: 100%;
        background:#143B64 ;
        @include respond(tab-land){
            width: 100%;
            background:linear-gradient(to right,  white 0%,white 50%,#143B64 50%,#143B64 100%);
            overflow-x: hidden;
        }
        @include respond(phone){
            background:linear-gradient(to right, white 0%, white 30%, #143B64 30%, #143B64 100%);
           
        }

    }

    &_content {
        height: 100%;
        margin-left: -25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;  
        justify-content: space-between;
        @include respond(tab-land){
            margin-left: 0%;
        }
        .main_left_heading {
            align-self: flex-start;
            max-width: 500px;
            min-width: 410px;
            margin-top: 3rem;
            @include respond(phone){
                max-width: 400px;
                min-width: 300px;
                margin-top: 3rem;
                margin-left: 0;
            }

            h2 {
                font-size: 56px; 
                @include respond(phone){
                    font-size: 38px;
                }
            }
        }

        .swiper-container {
            margin-left: 4rem;
            .swiper-wrapper{

                .swiper-slide{
                    width: 29%;
                    height: 244px;
                    @include respond(tab-land){
                        width: 48%;
                    }
                    @include respond(phone){
                        width: 95%;
                    }
                    .inds_slide{
                        width: 100%;
                        height: 100%;
                        background-image: url("../img/industries/listing/sub_over.png");
                        background-size: cover;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            z-index: -1;
                        }

                        h2 {
                            font-size: 23px;
                            color: white;
                            position: absolute;
                            top: 3rem;
                            left: 3rem;
                            width: 60%;
                        }
                    }
                }
            }
        }

        .main_btn_white {
            margin-top: 3rem;
            width: 340px;
            @include respond(phone){
                width:200px;
            }
        }
    }

    .main_slider_footer {
        @include respond(phone){
            width:13rem;
        }
    }
}


////// solutions section //////////////////

.solutions {
    width: 100%;
    height: 600px;
    margin: 20rem 0;
    @include respond(tab-land){
        height: auto;
        overflow-x: hidden;
        margin: 10rem 0 5rem;
       
    }
    &_content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        @include respond(tab-land){
            flex-direction: column;
            position: relative;
            padding-top: 25rem;
        }
        @include respond(phone){
            padding-top: 8rem;

        }
       
        &_tabs {
            width: 50%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-left: 3rem;
            @include respond(tab-land){   
                margin-left: 2rem;
                justify-content: center;
                width: 100%;
            }
            &-tab {
                width: 50%;
                max-width: 290px;
                min-height: 260px;
                max-height: 290px;
                display: flex;
                flex-direction: column;
                padding: 4rem 2rem 6rem 4rem;
                margin: 0 2rem 1rem;
                cursor: pointer;
                @include respond(phone){
                    width: 40%;
                    max-width: 286px;
                    min-height: 195px;
                    max-height: 279px;
                    padding: 4rem 2rem 4rem 2rem;
                    margin: 0 1.5rem 1rem;
                }

                &:hover {
                    @include tabboxshadow;
                }
                img {
                    width: 80px;
                    @include respond(phone){
                        width: 60px;
                    }
    
                }
                h3 {
                    color : #0B63AC;
                    font-size: 26px;
                    font-weight: 900;
                    line-height: 1;
                    width: 70%;
                    margin-top: 2rem;
                    @include respond(phone){
                        font-size: 18px;
                    }
                }
            }
        }

        &_slider {
            width: 45%;
            display: flex;
            flex-direction: column;   
            align-self: flex-end;
            margin-bottom: -9rem;
            @include respond(tab-land){
                width: 80%;
                overflow: hidden;
                margin-bottom: 4rem;
            }
            @include respond(phone){
                width: 100%;
                
            }

            .main_left_heading {
                margin-bottom: 14rem;
                max-width: 100%;
                @include respond(tab-land){
                    position: absolute;
                    top: 0;
                    right: 0%;
                    min-width: 440px;
                    max-width: 500px;
                }
                @include respond(phone){
                    min-width: 370px;
                    right: -11%;

                    h2 {
                        font-size: 38px!important;
                    }
                }

                h2 {
                    font-size: 56px;
                    font-weight: 900; 
                }
            }

            .main_slider_footer {
                margin: 3rem 0 0 4rem;
                @include respond(phone){
                    width: 100%;
                    margin: 1rem auto;
                }
                .main__footer_toggler {
                    @include respond(phone){
                        width: 80%;
                        margin: 2rem auto;
                    }
                   
                }
            }

        }
    }

    .solutions_swiper{
        margin: 0 0;
        width: 100%;
        margin-left: 40px;
        @include respond(phone){
       
            margin: 0;
            
        }
        .swiper-wrapper{
            width: 100%;
            //max-width: 570px;
            margin: 0rem;
            .swiper-slide{
                height: 355px;
                img {
                    width: 100%;
                    height: 100%;;
                    object-fit: cover;
                }
            }
        }
    }
}


// FOUNDATIONS FOR SUCCESS

.ffs {
    margin: 29rem 0 22rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px 2rem;
    @include respond(tab-land){
        flex-direction: column;
        margin: 8rem 0 22rem;
       
    
    }
    &_text {
        width: 44%;
        position: relative;
        z-index: 10;
        @include respond(tab-land){
            width: 70%;
        
        }
        @include respond(phone){
            width: 90%;
        }

        .main_left_heading{
            max-width: 100%;
            margin-bottom: 7rem;
            @include respond(phone){
               margin-left: -7rem;
            }
            h2 {
                font-size: 56px;
                font-weight: 900;
                width: 76%;
                text-align: right;
                line-height: 1;
                @include respond(phone){
                    font-size: 38px;
                }
            }
        }

        p {
            color: #58595B;
            font-size: 15px;
            padding: 0 0 0 7rem;
            line-height: 1.7;
            @include respond(phone){
                padding: 0 0 0 3rem;
            }
        }
    }

    &_tabs {
        width: 50%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 2rem;
        position: relative;
        z-index: 10;
        background: white;
        overflow-x: hidden;
        @include respond(tab-land){
            justify-content: center;
            margin-top: 10rem;
            width: 100%;
            padding: 0px 2rem;
            margin-left: 0;
        
        }

        &-tab {
            width: 50%;
            max-width: 290px;
            min-height: 175px;
            max-height: 250px;
            display: flex;
            flex-direction: column;
            padding: 0rem 2rem 0rem 4rem;
            cursor: pointer;

            &:nth-of-type(1) {
                border-right: 1px solid #D0D0CF;
                border-bottom: 1px solid #D0D0CF;
            }
            
            &:nth-of-type(3) {
                padding: 4rem 2rem 4rem 4rem; 
            }
            &:nth-of-type(4) {
                padding: 4rem 2rem 4rem 4rem;  
                border-left: 1px solid #D0D0CF;
                border-top: 1px solid #D0D0CF;
                margin: -1px 0 0 -1px;
                @include respond(tab-land){
                    margin: -2px 0 0 -2px;
                
                }
            }

            img {
                width: 47px;
            }
            h3 {
                color : #143B64;
                font-size: 27px;
                font-weight: 900;
                line-height: 1;
                width: 70%;
                margin-top: .6rem;
                @include respond(phone){
                    font-size: 19px;
                
                }
            }
        }
    }
}

// inquiry_links
.inquiry_links {
    display: flex;
    width: 100%;
    height: 60px;
    @include respond(phone){
        height: 140px;
        flex-direction: column; 
    
    }
    &_b,&_hr {
        width: 50%;
        height: 100%;
        flex-grow: 1;
        @include respond(phone){
            width: 100%;
        
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 17px;
            font-weight: 900;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
        img {
           width: 6px; 
           margin-left: 1rem;
        }
    }
    &_b,&_hr {
        
        a {
            background: #0D2B4A;

            &:hover {
                background: #37689B;
            }
        }
    }

       
    
}

.swiper-pagination.swiper-pagination-fraction {
    color: transparent;
}

.swiper-pagination-current,
.swiper-pagination-total {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 100%;

}
.swiper-pagination-current {
    left: -15px;
   
}

.swiper-pagination-total { 
    right: -15px;
  
}


.progress_cont.blue {
    .swiper-pagination-current,
    .swiper-pagination-total {
        color : #4184C5;
    }
}
