.header.investors_header {
    min-height: 380px;
    max-height: 380px;
    overflow: hidden;
    .header_main {
        padding-right: 0;
        .header_main_text {
            h1 {
                font-size: 45px;
            }
        }
    }
}
.investorsBCContain {
    background-color: #F8F8F8;
    .investorsBCWrap {
        display: flex;
        align-items: center;
    }
    .investorsMenuKeyWrap {
        margin-right: 32px;
        height: 60px;
        width: 287px;
        display: flex;
        align-items: center;
        border-bottom-right-radius: 30px;
        background-color: #0a63ac;
        color: #fff;
        padding-left: 4.5rem;
        strong {
            font-size: 25px;
            text-transform: uppercase;
        }
        .investorsMenuKey {
            cursor: pointer;
            display: flex;
            align-items: center;
            .navbar__menu-link {
                height: 19px;
                margin-right: 8px;
            }
        }
    }
    ul.breadcrumb {
        position: static;
        z-index: 1;
        li {
            color: #A7A9AC;
            a {
                color: #A7A9AC;
            }
        }
        li+li:before {
            color: #A7A9AC;
        }
    }
}
.investorsData {
    background-color: #F8F8F8;
    padding: 10rem 4.5rem;
    .investorsDataWrap {
        display: flex;
    }
    
    .investorsDataLeft {
        width: calc(100% - 309px);
        margin-right: 32px;
    }
    .investorsDataRight {
        width: 277px;
    }
    .innerDataWrap {
        margin-top: 32px;
        .investorsDataLeft {
            margin-right: 0;
            margin-left: 32px;
        }
    }
    .facts.factsWrap {
        margin: 0;
        padding: 32px;
        background-color: #fff;
        .cont {
            margin: 0;
            .facts__counter--content {
                align-items: flex-start;
                
            }
            .facts__counter--number {
                font-size: 36px;
                color: #0B63AC;
                text-align: left;
            }
            .facts__counter--subject {
                color: #58595B;
                font-weight: 300;
                font-size: 13px;
                text-align: left;
                margin-top: 2px;
            }
        }
        .facts__counter {
            width: calc(100% / 5);
        }
    }
    .irCalendarWrap {
        padding: 32px 16px;
        background-color: #fff;
    }
}
.investorsSubTitle {
    color: #58595B;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.investorContainItem {
    background-color: #fff;
    padding: 32px;
    p {
        color: #58595B;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 300;
    }
}
.latestInvestorPres {
    margin-top: 32px;
    background-color: #143B64;
    padding: 6px;
    .latestInvestorPresIn {
        width: 100%;
        height: 100%;
        border: 1px solid #4184C5;
        padding: 48px 32px;
    }
    .investorsSubTitle {
        color: #fff;
        font-weight: 900;
        line-height: 1.1;
        
    }
}
.sharePriceWrap {
    background-color: #0B63AC;
    padding-bottom: 0;
    .investorsSubTitle {
        font-size: 20px;
        color: #fff;
    }
    .mainSharePrice {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #143B64;
        padding: 12px 6px;
        strong {
            font-size: 25px;
            color: #fff;

        }
        p {
            color: #fff;
            margin-left: 8px;
            font-weight: 300;
        }
    }
    .sharePriceItemWrap {
        margin-top: 16px;
    }
    .sharePriceItem {
        border-bottom: 1px solid #4184C5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        font-size: 15px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        &:last-child {
            border-bottom: 0;
        }
        span {
            font-weight: 300;
        }
    }
    .sharePriceBtn {
        margin-right: -32px;
        display: flex;
        justify-content: flex-end;
        .main_btn_white {
            width: auto;
            height: 44px;
            margin: 0;
            padding: 0;
            
            a {
                padding: 0 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f8f8f8;
            }
        }
    }
}
.auditFinance {
    margin-top: 32px;
    .investorsSubTitle {
        font-size: 20px
    }
    .auditFinanceYear {
        margin-bottom: 16px;
        strong {
            color: #fff;
            padding: 6px 12px;
            font-size: 15px;
            background-color: #143B64;
            display: inline-block;
        }
    }
    .auditFinanceItem {
        display: flex;
        background-color: #EAEAEA;
        margin-bottom: 16px;
        padding: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            align-self: flex-start;
            margin-right: 8px;
        }
        span {
            color: #58595B;
            font-size: 14px;
            text-transform: capitalize;
        }
    }
}
.investorsMenuContain {
    position: fixed;
    top: 64px;
    left: 0;
    transition: all .4s ease-in-out;
    transform: translateX(-100%);
    background-color: #4184C5;
    z-index: 9999;
    width: 100%;
    max-height: calc(100% - 64px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 32px;
    max-width: 287px;
    border-bottom-right-radius: 30px;
    &.open {
        transform: translateX(0);
    }
    .investorsMenuKey {
        height: 60px;
        border-bottom-right-radius: 30px;
        background-color: #0a63ac;
        display: flex;
        align-items: center;
        padding-left: 4.5rem;
        cursor: pointer;
        .navbar__menu-link {
            height: 19px;
            margin-right: 8px;
        }
        strong {
            font-size: 25px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    .investorsMenuLinks {
        padding-left: 4.5rem;
        li {
            margin-top: 32px;
            a {
                color: #fff;
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
}
.menuOverLay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9998;
	display: none;

}
.investorsTabsContain {
    margin-bottom: 48px;
    .investorsTabsWrap {
        display: flex;
        flex-wrap: wrap;
    }
    .investorsTabsKey {
        color: #0B63AC;
        font-size: 12px;
        text-transform: uppercase;
        height: 50px;
        width: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        &:not(:last-child) {
            margin-right: 16px;
        }
        &.active {
            border: 1px solid #A7A9AC;
        }
    }
}
.investorsTabItem {
    display: none;
    &.overview {
        display: block;
    }
}
.missionAndVisson {
    margin-top: 32px;
    margin-bottom: 32px;
}
.investorContainItem {
    &.mision {
        margin-bottom: 32px;
        background-color: #0B63AC;
        .investorsSubTitle,
        p {
            color: #fff;
        }
    }
    &.vision {
        background-color: #4184C5;
        .investorsSubTitle,
        p {
            color: #fff;
        }
    }
    &.strategy {
        height: 100%;
        background-color: #143B64;
        .investorsSubTitle,
        p {
            color: #fff;
        }
    }
    
}
.investoryHistorySwiper {
    * {
        box-sizing: border-box;
    }
    .historyItem {
        border-radius: 20px;
        background-color: #fff;
        text-align: center;
        padding: 16px;
        width: 190px;
        height: 295px;
        transition: all .3s ease-in-out;
        .yearTxt {
            color: #0B63AC;
            font-size: 50px;
            font-weight: 900;
        }
        .historyTxt {
            color: #58595B;
            font-size: 14px;
        }
        .historyImg {
            width: 71px;
            height: 71px;
            margin: 0 auto 16px auto;
            border: 1px solid #0B63AC;
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        .historyItem {
            transform: scale(.5);
        }
    }
    
    .swiper-slide-next,
    .swiper-slide-prev {
        .historyItem {
            transform: scale(.75);
        }
            
    }
    .swiper-slide-active {
        .historyItem {
            transform: scale(1);
        }
        
    }
    .swiper-wrapper {
        align-items: center;
    }
}