.solutionsTabs.Locations {
  
    a {
        width: auto;
        padding: 4rem 2.5rem 2rem;
        cursor: pointer;
        span {
            font-size: 20px;
            color : #0B63AC;
            font-weight: 800;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            z-index: 9999;
        }

        &.active {
            span {
                color: #FFFFFF;
            }
        }
    }
}

.solutions.Locations {
    margin: 6rem 0;
    height: auto;
    .solutions_content {
        height: auto;
        display: flex;
        @include respond(tab-land) {
            padding-top: 14rem;
        }

        .solutions_content_slider {
            width: 37%;
            margin-bottom: 0;
            position: relative;
            @include respond(tab-land) {
                align-self: flex-start;
                width: 50%;
            }
            @include respond(phone) {
                width: 95%;
            }

            .solutions_swiper {
                margin-left: unset;
            }
            .swiper-slide {
                width: 102%;
                @include respond(phone) {
                    height: 250px;
                }
                img {
                    margin-left: 0rem;
                }
            }

            .depend_text_swiper {
                position: absolute;
                bottom: 2px;
                right: 2%;
                width: 20rem;

                .swiper-slide {
                    @include respond(phone) {
                        height: 6rem;
                    }

                    & > div {
                        background: #0B63AC;
                        font-size: 2rem;
                        padding: 1.8rem 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        margin-left: -1rem;

                        h5 {
                            display: block;
                            color: white;
                            font-weight: normal;
                            font-size: 15px;
                        }
                    }
                    
                }
            }
        }
        .sec_txt {
            width: 57%;
            display: flex;
            align-items: center;
            @include respond(tab-land) {
                margin-top: 6rem;
                margin-left: 3rem;
                width: 85%;
             }

            p {
                width: 84%;
                @include respond(phone) {
                    width: 95%;
                }
            }
        }

        .main__footer_toggler {
            @include respond(phone) {
                transform: translateY(14px);
                margin: 2rem auto 2rem 5rem;
                width: 25%;
            }
        }
    }
}


.DIFFERENTIATORS.loc {
    margin-top: 14rem;
    @include respond(tab-land) {
        overflow-x: hidden;
     }
    .tabcontents_link{
        width: 80%; 
        @include respond(tab-land) {
            width: 100%; 
         }
    }
    .DIFFERENTIATORS_tabs{
        @include respond(tab-land) {
            background: #D0D0CF;
            min-height: unset;
            padding-bottom: 0;

         }
    }

    .DIFFERENTIATORS_tabs .tab {
        padding: 10rem 0rem 14rem 7rem;
    }
    .DIFFERENTIATORS_tabs .tabcontents {
        background: #D0D0CF;
        height: calc(100% - 110px);
    }
    .DIFFERENTIATORS_tabs .tab .tablinks.active {
        background-color: #D0D0CF;

        &:before {
            box-shadow: 17px 22px 0 0 #D0D0CF;
        }

        &:after {
            box-shadow: 17px 22px 0 0 #D0D0CF;
        }
    }

    .DIFFERENTIATORS_tabs .tab .tablinks {
        color: #143B64;
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .DIFFERENTIATORS_tabs .tabcontents .tabcontent h3 {
        font-size: 22px;
        font-weight: bolder;
        color: #143B64;
    }

    .DIFFERENTIATORS_loc_link {
        height: 110px;
        width: 80%;
        background: #0B63AC;
        clip-path: polygon(0 0, 100% 0%, 94% 100%, 0 100%);
        @include respond(tab-land) {
            width: 100%;
         }
        a {
            display: flex;
            align-items: center;
            font-size: 27px;
            color: white;
            font-weight: bold;
            margin-left: 10rem;
            width: 100%;
            height: 100%;
            @include respond(phone) {
                margin-left: 2rem;
                font-size: 21px;
             }

            img {
                width: 11px;
                display: block;
                margin-left: 2rem;
            }
        }
    }

    
}


.DIFFERENTIATORS.loc {
    .tab {
        min-width: 48rem;
        max-width: 50rem;
        align-self: flex-start;
        button {
            text-align: left;
        }
    }

}