.solutionsTabs {
    display: flex;
    align-items: flex-start;
    padding: 0 2.5rem;
    position: relative;
    z-index: 9999;
    margin-top: -2px;
     @media(max-width: 80em) {
        padding: 0rem 0 8rem 2.5rem;
     }
     @include respond(tab-land) {
        display: none;
     }
     
    a {
        width: 65px;
        padding: 2rem 1rem 1.5rem;
        margin-right: 2rem;

        &.active {
            background-color: #0B63AC;
        }
        img {
            width: 40px;
        }
    }
}

.about_cont.near {
    margin-top: 0;
}

.wwa_sec.cem {
    margin-top: 8rem;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: -11rem;
    @include respond(tab-land) {
        flex-direction: column;
        margin-top: 20rem;
     }
    .wwa_sec_text {
        align-self: unset;
        @include respond(tab-land) {
            width: 80%;
            align-self: flex-start;
         }
         @include respond(phone) {
            width: 95%;
            margin-bottom: 8rem;
         }
        h2 {
            font-size: 23px;
            color: #0B63AC;
            max-width: 38rem;
            line-height: 1.2;
            margin-bottom: 1rem;
        }

    }

    .wwa_sec_img {
        overflow: hidden;
        @include respond(tab-land) {
            align-self: flex-end;
            width: 435px;
         }
         @include respond(phone) {
            width: 70%;
         }
        img {
            width: 435px;
            height: auto;
            @include respond(tab-land) {
                align-self: flex-end;
                width: 100%;
             }
        }
    }
}

.DIFFERENTIATORS.cx_manage{
    margin-top: 12rem;

    .DIFFERENTIATORS_tabs {
        background-color: white;
    }

    .DIFFERENTIATORS_tabs .custom_selectbox:before {
        background-image: url("../img/icons/right_w.png");
    }
    .DIFFERENTIATORS_tabs #tab_mobile {
        background-color: #0B63AC;
        color: white;

    }

    .tab {
        background: #4184C5;
        align-self: stretch;


        .tablinks {
            color: white;
            text-transform: capitalize;
            font-size: 18px;
            margin-bottom: 1rem;
            text-align: left;
        }

        .tablinks.active {
            background: white;
            color: #143B64;

            &:before, &:after {
                box-shadow: 17px 22px 0 0 white;
            } 
            
        }
    }

    .tabcontents {
        background-color: white;
        justify-content: center;
        .tabcontent {
            margin-top: -7rem; 
        }
        .tabcontent h3 {
            color: #0B63AC;
            font-size: 46px;
            width: 91%;
            text-transform: uppercase;
            line-height: .9;
            font-weight: 800;
        }

        .tabcontent p {
            color: #58595B;
        }
    } 

   
}


.DIFFERENTIATORS.cx_manage .DIFFERENTIATORS_loc_link {
    width: 90%;

    a {
        justify-content: center;
        margin-left: 0rem;
    }
    
   
}