.industry_sec {
    margin: 11rem 4.5rem;
    &_text {
        width: 66%;
        margin-bottom: 3rem;

        &:last-of-type {
            margin-bottom: 7rem;
        }
    }

    &_list {
        
    }
}


.industries_single{
    margin-bottom: 14rem;
    .industries_overlay {
        background-color: white;
    }
    .main_left_heading.main_right_heading {
        max-width: 500px;
        min-width: 471px;
        text-align: right;
        line-height: 1;
        padding-bottom: 0rem; 

        h2 {
            width: 75%;
        }
    }
}

.industry_sec.inds_list {
    margin: 6rem 4.5rem 12rem;
    p {
        width: 33%;
    }
}

.indstries_listing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 4.5rem;
    .inds_slide {
        width: 30%;
        min-height: 230px;
         position: relative;
         margin-bottom: 2%;
         margin-right: 2%;
         background-image: url("../img/industries/listing/sub_over.png");
         background-size: cover;
        
        img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -1;
            margin-bottom: -3px;
        }

        h2 {
            font-size: 23px;
            color: white;
            position: absolute;
            top: 3rem;
            left: 3rem;
            width: 60%;
        }
         
    }
}