.industry_sec {
    margin: 11rem 4.5rem;
    position: relative;
    @include respond(tab-land) {
        margin: 16rem 3.5rem;
     }

    & > *{
        position: relative;
        z-index: 10;
    }
    &_text {
        width: 66%;
        margin-bottom: 3rem;
        @include respond(tab-land) {
            width: 97%;
         }

        &:last-of-type {
            margin-bottom: 7rem;
        }
    }

    &_list {
        
    }
}


.industries_single{
    margin-bottom: 14rem;
    .industries_overlay {
        background: white;
       
    }
    .main_left_heading.main_right_heading {
        max-width: 500px;
        min-width: 471px;
        text-align: right;
        line-height: 1;
        padding-bottom: 0rem; 
        @include respond(phone) {
            min-width: 69%;
            margin-left: -3.4rem;
         }

        h2 {
            width: 75%;
        }
    }
    
}

.industry_sec.inds_list {
    margin: 7rem 4.5rem 7rem;
    @include respond(tab-land) {
        margin: 19rem 3.5rem 0rem;
     }
    p {
        width: 33%;
        @include respond(tab-land) {
            width: 50%;
         }
         @include respond(phone) {
            width: 100%;
         }
    }
}

.indstries_listing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 5.5rem 10rem 4.5rem;
    @include respond(tab-land) {
        margin: 0 3.5rem 10rem 3.5rem;
     }
     @include respond(phone) {
        width: 92%;
     }
    .inds_slide {
        width: 30%;
        min-height: 230px;
        position: relative;
        margin-bottom: 2%;
        margin-right: 2%;
        position: relative;
       
       
         @include respond(tab-land) {
            margin-right: 4%;
            width: 46%;
            min-height: unset;
         }
         @include respond(phone) {
           width: 95%;
           margin-right: unset;
           margin-bottom: 2.5rem;
          
         }

         &:before {
             content:"";
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height : 100%;
             background: url("../img/industries/listing/sub_over.png");
             background-size: cover;


         }
        
        img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -1;
            margin-bottom: -3px;
        }

        h2 {
            font-size: 23px;
            color: white;
            position: absolute;
            top: 3rem;
            left: 3rem;
            width: 60%;
        }
         
    }
}