.news_listing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.5rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    @include respond(phone) {
        padding: 0 1.5rem;
       
    }
    
    &_single {
        width: 49.5%;
        height: 185px;
        position: relative;
        margin-bottom: 1%;
        @include respond(tab-land) {
            width: 100%; 
            margin-bottom: 16px;
        }
        &:nth-of-type(odd) {
            margin-right: .5%;
            @include respond(tab-land) {
                margin-right: 0%;
            }
        }
        &_img {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, #143B6471, #143B64 79%),url("../img/news/listing/news1.jpg");
            background-size: cover !important;
            background-position: center;
        }

        &_text {
            position: absolute;
            bottom: 3rem;
            left: 2rem;
            width: 65%;
            span {
                color: white;
                font-size: 14px;
                font-weight: 100;
            }

            a {
                font-weight: bold;
                font-size: 19px;
                line-height: 1.4;
                display: block;
                color: white;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}


.industry_sec.news_single {
    display: flex;
    justify-content: space-between;
    margin: 11rem 20rem 4.5rem;
    @include respond(tab-land) {
        margin: 11rem 3rem 4.5rem;
     }
     @include respond(phone) {
        flex-direction: column;
     }
    .industry_sec_text {
        width: 80%;
       
    }
    .social_links {
        display: flex;
        align-items: center; 
        flex-direction: column;
        @include respond(phone) {
            flex-direction: row;
            justify-content: space-around;
         }
        a {
            margin-bottom: 1rem;
        }   
    }
}


.more_news {
    .main_left_heading {
        margin-bottom: 5rem; 

        .facts_heading {
            font-size: 53px; 
            @include respond(phone) {
                font-size: 38px; 
             }
        }
        @include respond(phone) {
            min-width: 10rem;
            margin-left: -24%;
            max-width: 100%;
         }
    }
    padding-bottom: 8rem;
}


.header_main_text.news {
    h1 {
        font-size: 43px!important;
        width: 55%;
        margin-top: 2rem!important;
    }
}

.more_news {
    .main_left_heading {
        max-width: 600px;

        @media (max-width: 450px) {
            margin-left: 7%;
        }
    } 
}

.header_main .header_main_text.newsSingle{
    h1 {
        font-size: 46px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        @media (max-width: 600px) {
            font-size: 25px !important;
           
        }
    }
}
