
.btn{
    &,
    &:link,
    &:visited{
        border-radius: 10rem;
        text-transform: uppercase;
        transition: all .3s ease;
        border:none;
        cursor: pointer;
        padding: 1rem 2rem;
        color: white;
        
       
       
    
        // &:hover{
        //     transform: translateY(-1px);  
        // }
    
        // &:active,
        // &:focus{
        //     outline: none;
        //     transform: translateY(-1px);
        // }  
    }

}


.btn_text{
    &:link,
    &:visited{
        font-size: 2.5rem;
        color: white ;
        transition: all .2s;
        
    }
  
}

.btn__text {
    &  > span {
        position: relative;
        z-index: 11;
        display: block;
        transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
    
    &:hover {
        & > span {
            transform: translateX(1.2rem);
        }
       
    }
  
}

.btn.main_btn {
    background: rgba(0,0,0,0.9);
    padding: 2rem 8rem;
    font-size: 16px;
    color: white;
    border: 1px solid #fff;
    border-radius: 20px;
}


.main_btn_white {
    width: 270px;
    height: 80px;
    margin-top: 4rem;
    margin-left: 18rem;
    position: relative;
    z-index: 999;
    @include respond(phone){
        width: 200px;
        height: 80px;
        margin-left: 0rem;
        margin-top: 5rem;
    }
    a {
        &,
        &:link,
        &:visited{
            display: block;
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            transition: all .3s ease;
            border:none;
            cursor: pointer;
            padding: 1rem 2rem;
            color: #0B63AC;
            background: #FFFFFF;
            display: flex;
            align-items: center;
            font-size: 13px;
            font-weight: bold;
            padding: 2rem 4rem;
            @include respond(phone){
                padding: 2rem 2rem;
                font-size: 10px;
            }

            

            img {
                margin-left: 5rem;
                width: 7px;
            }
    
        }
    } 

    span {
        width: 24%;
        height: 1px;
        background: #1368AF;
        position: absolute;
        bottom: 29%;
        left: 4rem;
        

        &:before,&:after{
            content: "";
            position: absolute;
            bottom: 50%;
            border-radius: 100rem;
            background: white;
            border: 1px solid #1368AF;
           
        }

        &:before {
            left: -7px;
            width: 1rem;
            height: 1rem;
            display: block;
            transform: translate(-1px, 4px);
            
        }
        &:after {
            right: -4px; 
            width: .5rem;
            height: .5rem;
            transform: translate(0px, 2px);
            
        }
    }
}



.list_pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4.5rem;
    margin-bottom: 6.5rem;
    &_cont {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width :280px;
        max-width: 30%;
        padding: 3rem 4rem;
        background-color: #0B63AC;
        span {
            font-size: 16px;
            color: white;
            font-weight: 100;
        }
        .arrows {
            display: flex;
            align-items: center;
            margin-left: 2rem;
            a {
                display: block;
                &:first-of-type {
                    margin-right: 3.5rem;
                }
                img {
                    width: 9px;
                }
            }
        }
    }
}