.footer {
    background: #143B64;
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: space-between;
    &_links {
        padding: 6rem 5rem;
        width: 63%;
        display: flex;
        justify-content: space-between;
        &  >div {
            width : 30%;

            ul {
                margin-bottom: 3.5rem;
                li{ 
                    display: block;
                    margin-bottom: .5rem;

                    a {
                        color: rgba(255,255,255,.7); 
                        font-size: 13px;
                        position: relative;
                        &:before {
                            content : "";
                            position: absolute;
                            left: -1rem;
                            top: 34%;
                            width: .5rem;
                            height: .5rem;
                            background-color: rgba(255,255,255,.7);
                            //border: 1px solid rgba(255,255,255,.7);
                            border-radius: 100px;
                        }
                    }

                    &:first-child {
                        a {     
                            font-size: 15px;
                            font-weight: bold;
                            &:before { 
                                width: .7rem;
                                height: .7rem;
                                background-color: transparent;
                                border: 1px solid rgba(255,255,255,.7);
                            }
                        }
                    }
                    
                
                }
            } 
        }
    }

    &_info {
        width: 37%;
        padding: 6rem 0rem;
        padding-right: 5rem;

        & > img {
            width: 111px;
            display: block;
            margin-bottom: 3rem;
        }

        & > p {
            color: rgba(255,255,255,.7); 
            font-size: 13px;
            line-height: 1.7;
            width: 90%;
        }

        .newsletter{
            margin-top: 4rem;

            h5 {
                color: rgba(255,255,255,.7); 
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 2rem;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                
                .ccb {
                   width: 39%; 
                   margin-bottom: 2rem;   
                }

                .nameEmailSubmit {
                    width: 100%;
                    display: flex;
                    border-radius: 0px 22px 22px 22px;
                    overflow: hidden;
                    position: relative;
                    padding-top: 2rem;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 38%;
                        top: 64%;
                        transform: translateY(-50%);
                        background: #1A436E;
                        width: 1px;
                        height: 49%;
                    }

                    label:nth-of-type(1) {
                        position: absolute;
                        left: 0%;
                        top: -3%;
                        color : rgba(255,255,255,.6);
                        font-size: 13px; 
                    }

                    label:nth-of-type(2) {
                        position: absolute;
                        left: 40%;
                        top: -3%;
                        color: rgba(255,255,255,0.6);
                        font-size: 13px;
                    }
                       

                    input, button {
                        background-color: #103255;
                        border: none;
                        width: 39%;
                        height: 44px;
                        padding: .5rem;
                        color: white;
                        outline: none;
                        padding-left: 1rem;
                    }

                    button {
                        width: 24%;
                        font-size: 12px;
                        font-weight: bold;
                    }
                    input {
                        
                    }
                }

                .followUs {
                    display: flex;
                    align-items: center;
                    margin-top: 3rem;

                    h4 {
                        color: white;
                        font-size: 15px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-right: 2.5rem;
                    }

                    a {
                        margin-right: 2rem;

                        img {
                            
                        }
                    }
                }

             
            }
        }
    }

    &_foot {
        position: absolute;
        left: 0%;
        bottom: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0F2F50;
        height: 63px;
        width: 100%;

        p, a {
            color: rgba(255,255,255,0.6);
            font-size: 11px;
        }

        a {
            &:hover {
                text-decoration: underline;
                color: rgba(255,255,255,0.8);
            }
        }
    }
}


.styled-checkbox {
    position: absolute;
    opacity: 0;
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      color: white;
      font-size: 14px;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 12px;
      height: 12px;
      background: #0E2741;
      border: 1px solid #255588;
      margin-top: .4rem;
    }
  
    // Box hover
    &:hover + label:before {
      background: #f35429;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background: #f35429;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 9px;
      background: white;
      width: 1px;
      font-weight: 900;
      height: 1px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }