.footer {
    background: #143B64;
    width: 100%;
    min-height: 670px;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    @include respond(tab-land){
        min-height: 600px;
        height: unset;
    }
    @include respond(tab-land){
        height: auto;
        padding-bottom: 6rem;
    }
    &_links {
        padding: 6rem 5rem;
        width: 63%;
        display: flex;
        justify-content: space-between;
        @include respond(tab-land){
            display: none;
        } 
        &  >div {
            width : 30%;

            ul {
                margin-bottom: 3.5rem;
                li{ 
                    display: block;
                    margin-bottom: .5rem;

                    a {
                        color: rgba(255,255,255,.7); 
                        font-size: 13px;
                        position: relative;
                        &:before {
                            content : "";
                            position: absolute;
                            left: -1rem;
                            top: 34%;
                            width: .5rem;
                            height: .5rem;
                            background-color: rgba(255,255,255,.7);
                            //border: 1px solid rgba(255,255,255,.7);
                            border-radius: 100px;
                        }
                    }

                    &:first-child {
                        a {     
                            font-size: 15px;
                            font-weight: bold;
                            &:before { 
                                width: .7rem;
                                height: .7rem;
                                background-color: transparent;
                                border: 1px solid rgba(255,255,255,.7);
                            }
                        }
                    }
                    
                
                }
            } 
        }
    }

    &_info {
        width: 37%;
        padding: 6rem 0rem;
        padding-right: 5rem;
        @include respond(tab-land){
            display: flex;
            padding: 6rem 3rem;
            width: 100%;
        }
        @include respond(phone){
            flex-direction: column;
        }

        & >  div {
            @include respond(tab-land){
                width: 50%;
            } 
            @include respond(phone){
                width: 100%;
            } 
        }

        & >  div > img {
            width: 111px;
            display: block;
            margin-bottom: 3rem;
        }

        & >  div > p {
            color: rgba(255,255,255,.7); 
            font-size: 13px;
            line-height: 1.7;
            width: 90%;
        }

        .newsletter{
            margin-top: 4rem;
            @include respond(tab-land){
                margin-top: 10rem;
                width: 50%;
            } 
            @include respond(phone){
                margin-top: 5rem;
                width: 100%;
            } 


            h5 {
                color: rgba(255,255,255,.7); 
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 2rem;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                
                .ccb {
                    width: 100%;
                    .wpcf7-form-control {
                        display: flex;
                        .wpcf7-list-item {
                            width: 42%; 
                            margin-bottom: 0;   
                            @include respond(tab-land){
                                width: 50%;
                                } 
                        }
                       
                       
                    }
                   
                  
                }

                .nameEmailSubmit {
                    margin-top: 2rem;
                    .desktop {
                        width: 100%;
                        display: flex;
                        border-radius: 0px 22px 22px 22px;
                        overflow: hidden;
                        position: relative;
                        padding-top: 2rem;
                        // @include respond(tab-land){
                        //     display: none;              
                        // } 
                        &:after {
                            content: '';
                            position: absolute;
                            left: 38%;
                            top: 4.2rem;                        
                            transform: translateY(-50%);
                            background: #1A436E;
                            width: 1px;
                            height: 3rem;
                            @include respond(tab-land) {
                                display: none;
                            }
                        }
                        & > label:nth-of-type(1) {
                            position: absolute;
                            left: 0%;
                            top: -3%;
                            color : rgba(255,255,255,.6);
                            font-size: 13px; 
                        }
    
                        & > label:nth-of-type(2) {
                            position: absolute;
                            left: 40%;
                            top: -3%;
                            color: rgba(255,255,255,0.6);
                            font-size: 13px;
                        }
                           
                        & span:not(.ajax-loader) {
                            display: block;
                            width: 39%;
                            &  input {
                                background-color: #103255;
                                border: none;
                                width: 100%;
                                height: 44px;
                                padding: .5rem;
                                color: white;
                                outline: none;
                                padding-left: 1rem;
                            }
                        }
                        
                        & input[type = "submit"] {
                            width: 24%;
                            font-size: 12px;
                            font-weight: bold;
                            background-color: #103255;
                            border: none;
                            color: white;
                            outline: none;
                            height: 44px;
                            border-radius: 0px 0px 22px 0px;
                            
                        }
                    }
                
                   .custom_input_group {
                    //    display: none;

                       @include respond(tab-land){
                     }

                     display: flex;
                        margin-top: 2rem;
                        .custom_input {
                             width: 96%; 

                             input {
                                 background: #103255;
                                 width: 100%;
                             }

                             label {
                                 color: rgba(255,255,255,.6);
                             }
                        }

                        input[type="submit"] {
                            width: 100%;
                            font-size: 15px;
                            background: transparent;
                            color: #FFFFFF;
                            outline: none;
                            border: none;
                            opacity: 70%;
                            font-weight: bold;
                            margin-bottom: 4rem;
                        
                        }

                   }
                   
                }

                .followUs {
                    display: flex;
                    align-items: center;
                    margin-top: 3rem;
                    @include respond(tab-land) {
                        justify-content: space-between;
                        width: 100%;  
                    }

                    h4 {
                        color: white;
                        font-size: 15px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-right: 2.5rem;
                        @include respond(tab-land) {
                            margin-right: 4.5rem;
                        }
                    }

                    a {
                        margin-right: 2rem;
                        @include respond(tab-land) {
                            flex-grow: 1;
                        }

                        img {
                            max-width:16px;
                        }
                    }
                }

             
            }
        }
    }

    &_foot {
        position: absolute;
        left: 0%;
        bottom: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0F2F50;
        height: 63px;
        width: 100%;
        justify-content: space-between;
        padding: 0 5rem;

        p, a {
            color: rgba(255,255,255,0.6);
            font-size: 11px;
        }

        a {
            &:hover {
                text-decoration: underline;
                color: rgba(255,255,255,0.8);
            }
        }

        p {
            @include respond(phone){
                text-align: center;
                width: 90%;               
            }
        }

        .cust_link {
            a {
                text-transform: capitalize;
                color: rgba(255,255,255,0.8);

            }
        }
    }
}


.styled-checkbox .wpcf7-list-item input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: 99999;
    cursor: pointer;
  
    & + .wpcf7-list-item-label {
      position: relative;
      padding: 0;
      color: white;
      font-size: 14px;
    }
  
    // Box.
    & + .wpcf7-list-item-label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 12px;
      height: 12px;
      background: #0E2741;
      border: 1px solid #255588;
      margin-top: .4rem;
    }
  
    // Box hover
    &:hover + .wpcf7-list-item-label:before {
      background: #103255;
    }
    
    // Box focus
    &:focus + .wpcf7-list-item-label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + .wpcf7-list-item-label:before {
      background: #103255;
    }
  
    &:checked + .wpcf7-list-item-label:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 9px;
      background: white;
      width: 2px;
      font-weight: 900;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }


//   .ajax-loader {
//     position: absolute;
//     top: 0;
//     left: 50px;
//     height:1rem!important;
//   }


.sizeWarning{
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: 0.3rem 13px;
    display: none;
}

.wpcf7-not-valid-tip{
    width:100%!important;
}

div .wpcf7-response-output {
    margin-bottom: 1rem !important; 

    &.wpcf7-mail-sent-ok {
        background-color: #398F14!important;
    }
}

.inquiry_links {
    margin-bottom: 10rem;
}