.navbar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: transparent;
    height: 54px;
    @include displayFlex;
    padding: 0.5rem 4.5rem;
    z-index: 9999999;
    font-family: 'Cinzel', serif;
    @include respond(tab-land){
        top: 15px;
    }


    &__logo {
        width: 125px;
       img {
        width :100%;
       } 
    }

    .nav {
        @include displayFlex;
        margin-left: auto;

        .btn_text {
            font-size: 13px;
            margin-right: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: .8rem 1.6rem;
            border-radius: 16px;
            color: white;

            img {
                width:23px;
            } 
        }

    }

    

    &__donateBtn {
      margin-right: 4rem;

        &-btn {
            background: transparent;
            padding: .5rem 2rem;
            color: white;
            border: 1px solid #fff;
            
            @media all and (max-width: 400px) {
                padding: .6rem 2.5rem;
                margin-left: 2rem; 
            }

        }
    }

    &__langBtn {
        margin-right: 5rem;
        &-btn {
            font-family: arabicFont;
            font-size: 1.8rem !important;
        }
    }

    &__menu {
        display: none;
        @include respond(tab-land){
            display: block;
        }
       
      
        &-link {
            display: inline-block;
            height: 15px;

            span {
                width: 3rem;
                height: 2.5px;              
                position: relative;
                background: white;
                display: inline-block;
                border-radius: 100px;
               

                &::after,
                &::before {
                    content: '';
                    width: 3rem;
                    height: 2.5px;      
                    background: white;
                    border-radius: 100px;
                    
                   
                    position: absolute;
                    left: 0;
                }

                &::after {
                    top: 7px;
                }

                &::before {
                    bottom: 7px;
                }

            }
        }
    }

    .menu-item#langSelect {
    align-self: flex-start;
    position: relative;
    & > div {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 99999;
        cursor: pointer;

        span {
            font-size: 13px;
            color: #fff;
            text-transform: capitalize;
            margin: 1rem;
        }

        img {
            width: 12px;
        }
    }

    #langsList {
        position: absolute;
        top: 100%;
        left: -3rem;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        min-width: 100px;
        border: none;
        display: none;


        li {
            a {
                color: #58595B;
                font-size: 13px;
                padding: 1.5rem 1.2rem;
                text-transform: capitalize;
                display: block;
                font-weight: 300;
            }

            width: 100%;
            &:not(:last-of-type) {
                border-bottom: 1px solid #EFEFEF;
            }
            
        }
    }
   }

    &.navGray {
        background-color: #EAEAEA;
        position: fixed;
        top: 0;
        height: 64px;

        .navbar__logo {
            width: 82px;
        }
        .menu-item{
            a {
                color: #143B64;
                font-weight: bold;
            }
        }

        .menu-item#langSelect {
           .lang_selected_lang{
               color: #0B63AC;
           } 
        }
    }
    
    
}

@media (max-width: 768px) {
    .navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

.menu-item.menu-item-has-children {
    position: relative;
    .sub-menu {
        position: absolute;
        top: 3rem;
        left: 1rem;
        background: #D8D8D8;
        display: flex;
        flex-direction: column;
        min-width: 250px;
        border: none;
        display: none;
        overflow: hidden;
        padding: 1rem 0;

        li {
            width: 100%;
            margin-left: 2rem;
            &:not(:last-of-type) {
                border-bottom: 1px solid #E8E8E8;
            }

            a {
                color: #143B64;
                font-size: 15px;
                padding: 2rem 1.5rem 2rem 0;
                text-transform: uppercase;
                display: block;
                font-weight: 700;
            }
        }
    }
}




