.navbar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: transparent;
    height: 54px;
    @include displayFlex;
    padding: 0.5rem 4.5rem;
    z-index: 9999999;
    font-family: 'Cinzel', serif;
    @include respond(tab-land){
        top: 15px;
    }


    &__logo {
        width: 125px;
        @include respond(phone){
            width: 70px;
        }

       img {
        width :100%;
       } 
    }

    .nav {
        @include displayFlex;
        margin-left: auto;

        @include respond(tab-land){
            display: none;
        }

        .menu-item {
            & > a {
                font-size: 13px;
                margin-right: 1rem;
                font-weight: 600;
                text-transform: uppercase;
                padding: .8rem 1.6rem;
                border-radius: 16px;
                color: white;
                position: relative;
                transition: all ease .3s;
    
                img {
                    width:23px;
                }     
            }
        }

        & > .menu-item > a {
            &::before {
                content: "";
                position: absolute;
                bottom: 6px;
                left: 17px;
                width: 20px;
                background: currentColor;
                height: 2px;
                visibility: hidden;
                opacity: 0;
                transition: all ease .3s;
                
            }

            &:hover, &.active{
                &::before {
                    visibility: visible;
                    opacity: 1;
                }    
            }
        }

        

    }

    

    &__langBtn {
        margin-right: 5rem;
        &-btn {
            font-family: arabicFont;
            font-size: 1.8rem !important;
        }
    }

    &__menu {
        display: none;
        @include respond(tab-land){
            display: block;
        }
       
      
        &-link {
            display: inline-block;
            height: 15px;

            span {
                width: 3rem;
                height: 2.5px;              
                position: relative;
                background: white;
                display: inline-block;
                border-radius: 100px;
               

                &::after,
                &::before {
                    content: '';
                    width: 3rem;
                    height: 2.5px;      
                    background: white;
                    border-radius: 100px;
                    
                   
                    position: absolute;
                    left: 0;
                }

                &::after {
                    top: 7px;
                }

                &::before {
                    bottom: 7px;
                }

            }
        }
    }

    &.navGray {
        background-color: #EAEAEA;
        position: fixed;
        top: 0;
        height: 64px;

        .navbar__logo {
            width: 82px;
        }
        .menu-item{
            a {
                color: #143B64;
                font-weight: bold;
            }
        }

        .menu-item#langSelect {
           .lang_selected_lang{
               color: #0B63AC;
           } 
        }
    }
    
    
}

@media (max-width: 768px) {
    .navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

.menu-item.menu-item-has-children {
    position: relative;
    .sub-menu {
        position: absolute;
        top: -2rem;
        left: 1rem;
        background: #D8D8D8;
        display: flex;
        flex-direction: column;
        min-width: 285px;
        max-width: 300px;
        border: none;
        display: none;
        overflow: hidden;
        margin-top: 5rem;
        // padding: 1rem 0;
        transition: all .3s ease-in;
      

        li {
            width: 100%;
            padding-left: 2rem;
            transition: all .3s ease;
            &:not(:last-of-type) {
                border-bottom: 1px solid #E8E8E8;
            }
            &:hover,&.current-menu-item {
                background: #C4C4C4;  
            }

            a {
                color: #143B64;
                font-size: 15px;
                padding: 2rem 1.5rem 2rem 0;
                text-transform: uppercase;
                display: block;
                font-weight: 700;
            }
        }
    }
}


.menu-item#langSelect {
    position: relative;

    &:before {
        content: "";
    position: absolute;
    left: -7px;
    top: 6px;
    height: 28px;
    width: 2px;
    background-color: #337DB9;
    }
    @include respond(tab-land){
        display: none;
    }

    &.langSelectMobile {
        @include respond(tab-land){
            display: block;
        } 
    }
    
    
    & > div {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 99999;
        cursor: pointer;

        span {
            font-size: 13px;
            color: #fff;
            text-transform: capitalize;
            margin: 1rem;
        }

        img {
            width: 12px;
        }
    }

    #langsList {
        position: absolute;
        top: 100%;
        left: -3rem;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        min-width: 100px;
        border: none;
        display: none;


        li {
            a {
                color: #58595B;
                font-size: 13px;
                padding: 1.5rem 1.2rem;
                text-transform: capitalize;
                display: block;
                font-weight: 300;
            }

            width: 100%;
            &:not(:last-of-type) {
                border-bottom: 1px solid #EFEFEF;
            }
            
        }
    }
   }

   .navbar.navGray {
    .navbar__menu-link {
        span {
            background: #0B63AC;
            &:after, &:before {
                background: #0B63AC;
            }
        }
    }
    .menu-item#langSelect {
        &:before {
            background-color: #D4D8DC;
        }
    }
   }

   .navbar > .nav {
    margin-top: 4.1rem;  
   }
   .nav >  .menu-item {
       height: 6rem;
   }
   
   .nav >  .menu-item-has-children:hover {
       .sub-menu {
           display: block;
       }
   }


   .nav >  .menu-item-has-children .sub-menu:hover {
    display: block;
   }

   #Menupopup .menu-item.menu-item-has-children .sub-menu {
       margin-top: 0!important;
   }
