.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
    @include respond(tab-port){
    //    overflow-y: auto;
    //    overflow-y: scroll; /* has to be scroll, not auto */
    //    -webkit-overflow-scrolling: touch;
    }   

    &.toggleMenu {
        visibility: visible;
        opacity: 1;
    }

    &__container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0B63AC;
        // &.scale-up-center {
        //     animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        // }
        // &.scale-down-center {
        //     animation: scale-down-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        // }


        #menu-close {
            position: fixed;
            top: 2rem;
            right: 5rem;
 
             img {
                 width: 18px;
                 @include respond(tab-port){
                     width: 25px;
                     
                    
                 }    
             }    
         }
         
    }

    .popup__menu-cont {
       
        padding: 0rem 0;
        text-align: center;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        padding-bottom: 10rem;
        @include respond(tab-port){
           
           
        }
   
    }

    .menu-item_cont {
        margin-top: 5rem;
        display: flex;
        align-items: center;
        flex-direction: column;  
        margin-bottom: 2rem;
       

       
       

       .menu-item {
            font-size: 17px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 6rem;
            position: static;
            // @include respond(tab-port){   
              
            //     font-size: 2.8rem;
            // }  

            a {
                transition: all .5s ease-in-out;
                cursor: pointer;
                color: inherit;
                display: inline-block;
                &.fullCircleBefore::before  {
                    background: #FAA41A;
                    opacity: 1;
                    top: -3px;
                    left: -8px;
                    width: 25px;
                    height: 25px;
                   
                    display: block;
                    @include respond(tab-port){   
                        top: -6px;
                        left: -13px;
                        width: 40px;
                        height: 40px;
                    } 
                   
                }
            }
              
            .sub-menu {
                top: 0;
                left: 0; 
                min-width: 100vw;
                max-width: 100vw;
                height: 100vh;
                padding: 0;

                

                & > li {
                    text-align: left;
                    margin-left: unset;
                    padding: 1.5rem 4rem;

                    a {
                        font-size: 15px;
                    }

                    &:nth-of-type(1) {
                        a {
                            font-size: 17px;
                            font-weight: 300;
                        }
                    }
                    &:nth-of-type(2) {
                        a {
                            font-size: 22px;
                            
                        }
                    }
                    &:nth-of-type(1),&:nth-of-type(2) {
                        background: #143B64;
                        border-bottom-color: #143B64;

                        a {
                            color: white;
                            display: flex;
                            align-items: center;

                            img {
                                margin-right: .8rem;
                            }
                        }
                    }
                }
            
            }
        }
    
    }

    .menu-item-btn {
        background: #FF4713;
        padding: 1.5rem 5rem;
        color: white;
        @include respond(tab-port){
            padding: 2rem 7rem;
            font-size: 2rem;
        }   
        @media all and (max-width: 400px) {
            padding: 1.6rem 6.5rem;
            font-size: 2.3rem;
        }

    }
   
}


.popup.toggleMenu {
    .navbar__donateBtn-btn{
        margin-bottom: 5rem;
        padding: 1rem 3rem;
    }
 
}

.popup.toggleMenu .navbar__donateBtn-btn.btn{
    border-color : white!important;
    color : white!important;
}


.menu-item.langSelect.langSelectMobile {
    position: relative;
    padding-top: 4rem;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        width: 60vw;
        max-width: 400px;
        height: 1px;
        background-color: #FFFFFF;
    }
    .custom_selectbox {
        position: relative;
        width: 21rem;
        &:before {
            content: "";
            position: absolute;
            top: 35%;
            right: 25px;
            width: 14px;
            height: 22px;
            text-align: center;
            font-size: 28px;
            line-height: 45px;
            background-image: url(../img/icons/right_w.png);
            pointer-events: none;
            z-index: 99;
            background-repeat: no-repeat;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            cursor: pointer;
        }
        select {
            background-color: #0B63AC;
            border: none;
            padding: .8rem;
            color: white;
            cursor: pointer;
            font-size: 18px;
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            outline: none;
            position: relative;
            -moz-appearance: none;
            -webkit-appearance: none;
            text-indent: 5px;
            min-width: 10rem;
            text-transform: capitalize;

            option {
                text-transform: capitalize;
            }
        }
    }
}


#Menupopup  .menu-item_cont .menu-item .sub-menu .menu-item {
    margin-bottom: 0;
}
